/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 960 Grid */
/* line 5, sass/base.scss */
#page {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  background: #f9f9f9 url(../images/bg-light.png) no-repeat center top;
}

/* line 12, sass/base.scss */
#primary-menu-elements,
#header-elements,
#main-elements {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 18, sass/base.scss */
#primary-menu-elements,
#header-elements,
#main-elements {
  width: 940px;
}

/* line 22, sass/base.scss */
#content {
  margin: 0 30px 0 0;
}

/** 
 * $Id$ 
 * groundworks.com
 *
 * @file base.css
 * Base includes all CSS for layout, master reset and basic admin block styles.
 */
/* line 34, sass/base.scss */
.two-sidebars .content-inner {
  margin: 0 240px;
}

/* line 38, sass/base.scss */
.sidebar-first .content-inner {
  margin-left: 240px;
}

/* line 42, sass/base.scss */
.sidebar-last .content-inner {
  margin-right: 240px;
}

/* line 46, sass/base.scss */
#sidebar-first {
  width: 240px;
  margin-left: -100%;
}

/* line 51, sass/base.scss */
#sidebar-last {
  width: 240px;
  margin-left: -240px;
}

/* Add padding to align elements to the grid. */
/* line 57, sass/base.scss */
.block, #skip-nav, #branding, #search-box, #mission, #primary, #secondary, #attribution, #breadcrumb, #footer-message {
  padding: 0 10px;
}

/* line 61, sass/base.scss */
#messages-and-help {
  padding: 10px;
}

/* Skinr grid classes. */
/* line 66, sass/base.scss */
.grid-1, .grid-2-12, .grid-2-16, .grid-3, .grid-4-16, .grid-4-12, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16 {
  float: left;
  clear: none !important;
  display: inline;
}

/* line 72, sass/base.scss */
.grid-1 {
  width: 40px;
}

/* line 76, sass/base.scss */
.grid-2-16 {
  width: 100px;
}

/* line 80, sass/base.scss */
.grid-2-12 {
  width: 140px;
}

/* line 84, sass/base.scss */
.grid-3 {
  width: 160px;
}

/* line 88, sass/base.scss */
.grid-4-16 {
  width: 220px;
}

/* line 92, sass/base.scss */
.grid-4-12 {
  width: 300px;
}

/* line 96, sass/base.scss */
.grid-5 {
  width: 280px;
}

/* line 100, sass/base.scss */
.grid-6 {
  width: 340px;
}

/* line 104, sass/base.scss */
.grid-7 {
  width: 400px;
}

/* line 108, sass/base.scss */
.grid-8 {
  width: 440px;
}

/* line 112, sass/base.scss */
.grid-9 {
  width: 520px;
}

/* line 116, sass/base.scss */
.grid-10 {
  width: 580px;
}

/* line 120, sass/base.scss */
.grid-11 {
  width: 640px;
}

/* line 124, sass/base.scss */
.grid-12 {
  width: 700px;
}

/* line 128, sass/base.scss */
.grid-13 {
  width: 760px;
}

/* line 132, sass/base.scss */
.grid-14 {
  width: 780px;
}

/* line 136, sass/base.scss */
.grid-15 {
  width: 880px;
}

/* line 140, sass/base.scss */
.grid-16 {
  width: 940px;
}

/* Containers and helpers. */
/* line 153, sass/base.scss */
#top-elements,
#leaderboard-elements,
#menu-bar-elements,
#messages-help-elements,
#secondary-content-elements,
#container-elements,
#tertiary-content-elements,
#secondary-menu-elements,
#footer-elements {
  width: 100%;
  margin: 0;
  padding: 0;
  clear: both;
}

/* line 170, sass/base.scss */
#container-top,
#container-leaderboard,
#container-menu-bar,
#container-messages-help,
#container-secondary-content,
#container-tertiary-content,
#container-secondary-menu,
#container-footer {
  width: 960px;
  margin: 0 auto;
  position: relative;
  min-width: 960px;
}

/* line 177, sass/base.scss */
#main-content, #columns {
  width: 100%;
  display: inline-block;
}

/* line 182, sass/base.scss */
#main-content, .block {
  position: relative;
}

/**
 * Master reset for browsers and Drupal.
 */
/* line 189, sass/base.scss */
html {
  font-size: 0.875em;
}

/* line 193, sass/base.scss */
body {
  line-height: 1.231;
}

/* HTML elements */
/* line 198, sass/base.scss */
h1 {
  margin: 0 0 .5em;
  padding: 0;
  font-size: 2em;
}

/* line 204, sass/base.scss */
h3 {
  font-size: 1.25em;
}

/* line 208, sass/base.scss */
h4 {
  font-size: 1.17em;
}

/* line 212, sass/base.scss */
h5, h6 {
  font-size: 1em;
}

/* line 216, sass/base.scss */
a img {
  border: none;
}

/* line 220, sass/base.scss */
p {
  margin: 0 0 1.5em;
  padding: 0;
}

/* line 225, sass/base.scss */
em, dfn {
  font-style: italic;
}

/* line 229, sass/base.scss */
del {
  color: #666666;
}

/* line 233, sass/base.scss */
ins {
  border-bottom: none;
  text-decoration: none;
}

/* line 238, sass/base.scss */
pre, code, tt, samp, kbd, var {
  font: 1em "Lucida Console",Monaco,"DejaVu Sans Mono",monospace;
}

/* line 242, sass/base.scss */
blockquote, q {
  font-style: italic;
  quotes: "" "";
}

/* line 247, sass/base.scss */
blockquote {
  margin: 0 0 1.5em;
  padding: 0 0 0 3em;
}

/* line 252, sass/base.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 256, sass/base.scss */
.offscreen {
  width: 1px;
  position: absolute;
  top: -9999em;
  left: auto;
  height: 1px;
  overflow: hidden;
}

/* Skip Navigation classes */
/* line 266, sass/base.scss */
.show-skip-link {
  text-align: right;
}

/* line 270, sass/base.scss */
.show-on-focus a:link, .show-on-focus a:hover, .show-on-focus a:visited {
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: -999em;
}

/* line 277, sass/base.scss */
.show-on-focus a:active, .show-on-focus a:focus {
  width: auto;
  background: #ffffff;
  height: 1.5em;
  overflow: visible;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

/* Easy clearing */
/* Slightly enhanced, universal clearfix hack */
/* line 290, sass/base.scss */
.clearfix:after {
  clear: both;
  width: 0;
  display: block;
  font-size: 0;
  content: " ";
  line-height: 0;
  height: 0;
  visibility: hidden;
}

/* line 301, sass/base.scss */
.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
/* line 306, sass/base.scss */
* html .clearfix {
  height: 1%;
}

/* line 310, sass/base.scss */
.clearfix {
  display: block;
}

/* close commented backslash hack */
/* Tables */
/* line 316, sass/base.scss */
table {
  border-color: #c0c0c0;
  margin: 1em 0;
  padding: 0;
  width: 100%;
  border-spacing: 0;
}

/* line 324, sass/base.scss */
table, td, th {
  vertical-align: middle;
}

/* line 328, sass/base.scss */
thead th {
  border-bottom: .1875em solid #c0c0c0;
  color: #494949;
  font-weight: 700;
}

/* line 334, sass/base.scss */
td, th {
  border-bottom: 1px solid #cccccc;
  margin: 0;
  padding: .375em .5em;
}

/* line 340, sass/base.scss */
tr.odd, tr.info {
  background: #f5f5f5;
}

/* line 344, sass/base.scss */
tr.even {
  background: #ffffff;
}

/* line 348, sass/base.scss */
tr.drag {
  background: #fffff0;
}

/* line 352, sass/base.scss */
tr.drag-previous {
  background: #ffffdd;
}

/* line 356, sass/base.scss */
tr.odd td.active {
  background: #eeeeee;
}

/* line 360, sass/base.scss */
tr.even td.active {
  background: #f7f7f7;
}

/* line 364, sass/base.scss */
td.region, td.module, td.container td.category {
  border-bottom: 1px solid #cccccc;
  border-top: 1.5em solid #ffffff;
  color: #222222;
  background: #eeeeee;
  font-weight: 700;
}

/* line 372, sass/base.scss */
tr:first-child td.region, tr:first-child td.module, tr:first-child td.container {
  border-top-width: 0;
}

/* line 376, sass/base.scss */
#forum tr td.forum {
  padding-left: 1.67em;
  background: 5px 5px;
}

/* line 381, sass/base.scss */
#forum tr td.forum .name {
  padding-left: .375em;
}

/* line 385, sass/base.scss */
#forum div.indent {
  margin-left: .5em;
}

/* line 389, sass/base.scss */
#system-themes-form table.sticky-table {
  position: relative;
  z-index: 10;
}

/* Messages */
/* line 395, sass/base.scss */
div.messages {
  margin: 1em 0;
  font-weight: 400;
}

/* line 400, sass/base.scss */
div.messages ul {
  margin: 0 0 0 1.25em;
}

/* line 404, sass/base.scss */
div.error {
  border: 1px solid #c00000;
  background: url(groundwork-images/status-error.png) #fff3f6 no-repeat 0.5em 0.45em;
  color: #c00000;
}

/* line 410, sass/base.scss */
tr.error {
  background: #ffeff3;
  color: #e41f0b;
}

/* line 415, sass/base.scss */
div.notice {
  border-color: #ffd324;
  background: #fff6bf;
  color: #514721;
}

/* line 421, sass/base.scss */
div.status {
  border: 1px solid #4da449;
  background: url(groundwork-images/status-ok.png) #f1ffcf no-repeat 0.75em 0.6em;
  color: #2a6827;
}

/* line 427, sass/base.scss */
div.help {
  border: 1px solid #66bef4;
  margin: 0;
  background: url(groundwork-images/status-info.png) #f7f8f8 no-repeat 0.5em 0.45em;
  color: #000d2f;
}

/* line 434, sass/base.scss */
div.warning {
  border: 1px solid #ffb900;
  background: url(groundwork-images/status-warning.png) #fff6df no-repeat 0.5em 0.45em;
  color: #9f3800;
}

/* line 440, sass/base.scss */
div.messages, div.warning, div.help, div.status, div.error {
  padding: .6em 1em .6em 3em;
}

/* line 444, sass/base.scss */
table tr.warning {
  background: #f7e8c5;
}

/* line 448, sass/base.scss */
table tr.warning td {
  color: #9f3800;
}

/* line 452, sass/base.scss */
table tr.warning.merge-up td {
  color: #514721;
}

/* line 456, sass/base.scss */
div.ok, tr.ok, table tr.ok td {
  padding: 1em .5em;
  color: #222222;
}

/* line 461, sass/base.scss */
.update tr.ok {
  background: #f1ffcf;
}

/* line 465, sass/base.scss */
.update tr.error {
  background: #ffeff3;
}

/* line 469, sass/base.scss */
.update tr.warning {
  background: #fff6df;
}

/* line 473, sass/base.scss */
.update tr.error .version-recommended {
  background: #ffeff4;
}

/* line 477, sass/base.scss */
.update .info {
  padding: 0 0 0 1em;
}

/* line 481, sass/base.scss */
.includes {
  color: #222222;
}

/* line 485, sass/base.scss */
div.help p:last-child, div.help ul:last-child {
  margin-bottom: 0;
}

/* line 489, sass/base.scss */
.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 2px solid #c00000;
}

/* line 493, sass/base.scss */
.form-item strong.error em {
  color: #e41f0b;
  font-weight: 700;
  font-size: 1.2em;
}

/* line 499, sass/base.scss */
.block-region {
  border: 3px dashed #dddddd;
  clear: both;
  margin-bottom: 0;
  margin-top: 0;
  padding: 3px 6px 1px;
  color: #666666;
  background: #f7f8f8;
  font: 400 1.167em "Lucida Console",Monaco,"DejaVu Sans Mono",monospace;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* line 513, sass/base.scss */
.node-unpublished, .comment-unpublished {
  background: #fff6df;
}

/* line 517, sass/base.scss */
.unpublished {
  visibility: hidden;
}

/* line 521, sass/base.scss */
.node-unpublished .unpublished, .comment-unpublished .unpublished {
  margin-left: .5em;
  padding-left: 18px;
  background: transparent url(groundwork-images/warning-small.png) no-repeat 0 0.1em;
  color: #ffb900;
  font-size: .94em;
  visibility: visible;
}

/* line 530, sass/base.scss */
div#acquia-agent-no-search {
  padding-left: 3em !important;
  margin: 8px 0;
}

/* Lists */
/* line 536, sass/base.scss */
ul, ol {
  margin: 0 0 1.5em 1.667em;
  padding: 0;
}

/* line 541, sass/base.scss */
ul ul, ul ol, ol ol, ol ul, .block ul ul, .block ul ol, .block ol ol, .block ol ul, .item-list ul ul, .item-list ul ol, .item-list ol ol, .item-list ol ul {
  margin: 0 0 0 1.667em;
}

/* line 545, sass/base.scss */
ul {
  list-style-type: disc;
}

/* line 549, sass/base.scss */
ul ul ul {
  list-style-type: square;
}

/* line 553, sass/base.scss */
ol {
  list-style-type: decimal;
}

/* line 557, sass/base.scss */
ol ol {
  list-style-type: lower-alpha;
}

/* line 561, sass/base.scss */
ol ol ol {
  list-style-type: lower-roman;
}

/* line 565, sass/base.scss */
dd {
  margin: 0 0 1.5em 1.667em;
}

/* line 569, sass/base.scss */
.item-list ul, .item-list ol {
  margin: 0 0 0 1.667em;
  padding: 0;
}

/* Pager override */
/* line 575, sass/base.scss */
ul.pager {
  clear: both;
  text-align: center;
}

/* line 580, sass/base.scss */
ul.pager li {
  padding: .5em;
  display: inline;
  list-style-type: none;
  background: none;
}

/* Forms */
/* line 588, sass/base.scss */
form {
  margin: 0 0 1.667em;
  padding: 0;
}

/* line 593, sass/base.scss */
input {
  margin: .375em 0;
}

/* line 597, sass/base.scss */
input.text, input.title, textarea, select {
  border: 1px solid #c0c0c0;
  margin: .375em 0;
}

/* line 602, sass/base.scss */
.form-text:focus, .form-checkbox:focus, .form-radio:focus, .form-select:focus {
  border: 1px solid #ffcc00;
  background: #ffffdf;
}

/* line 607, sass/base.scss */
textarea:focus {
  border: 1px solid #ffcc00;
  background: #ffffff;
}

/* line 612, sass/base.scss */
input.text, input.title {
  padding: .375em;
}

/* line 616, sass/base.scss */
input.form-text, textarea {
  border: 1px solid #cccccc;
  padding: .1875em;
  height: auto;
}

/* line 622, sass/base.scss */
textarea, input {
  font: 1em normal Arial, Helvetica, sans-serif;
}

/* line 626, sass/base.scss */
div.form-item {
  margin-bottom: .833em;
  margin-top: .833em;
}

/* line 631, sass/base.scss */
.form-item textarea.error {
  padding: .1875em;
}

/* line 637, sass/base.scss */
.form-item .description,
fieldset .description,
.fieldset-layout-settings dd {
  font-size: 0.9em;
  line-height: 1.667em;
}

/* line 642, sass/base.scss */
span.form-required, span.marker {
  color: #8a1f11;
}

/* line 646, sass/base.scss */
#node-admin-filter ul {
  padding: .375em 0;
}

/* line 650, sass/base.scss */
#edit-operation-wrapper select {
  margin: .375em;
}

/* line 654, sass/base.scss */
div.resizable-textarea textarea {
  margin-top: 0;
}

/* line 658, sass/base.scss */
.tips {
  margin-left: 3em;
  padding: .1875em .375em .1875em 1.5em;
  font-size: 1em;
}

/* line 664, sass/base.scss */
fieldset {
  border: 1px solid #dadada;
  margin: 1.5em 0;
  padding: .75em;
  background: transparent;
}

/* line 671, sass/base.scss */
*:first-child + html fieldset {
  padding: 0 1em .75em;
  background: transparent 0 .75em;
}

/* line 676, sass/base.scss */
*:first-child + html fieldset > .description, *:first-child + html fieldset .fieldset-wrapper .description {
  padding-top: 1.5em;
}

/* line 680, sass/base.scss */
fieldset legend {
  padding: 0 1em 0 0;
  display: block;
  font-weight: 700;
}

/* line 686, sass/base.scss */
*:first-child + html fieldset legend, *:first-child + html fieldset.collapsed legend {
  display: inline;
}

/* line 690, sass/base.scss */
html.js fieldset.collapsed {
  padding-bottom: .75em;
  padding-top: 0;
  background: transparent;
}

/* line 696, sass/base.scss */
#user-login-form li.openid-link, #user-login-form li.user-link {
  text-align: center;
}

/* line 700, sass/base.scss */
#user-login ul {
  margin: 0 0 5px;
}

/* line 704, sass/base.scss */
#user-login-form li.openid-link, #user-login li.openid-link {
  background: none;
}

/* line 708, sass/base.scss */
#user-login-form li.openid-link a, #user-login li.openid-link a {
  padding: 0 20px;
  background: transparent url(groundwork-images/openid.png) no-repeat 0 0;
}

/* Admin section */
/* line 714, sass/base.scss */
div.admin-panel {
  border: 1px solid #dddddd;
  margin: 0 0 .75em;
  padding: 0;
}

/* line 720, sass/base.scss */
div.admin .left, div.admin .right {
  margin-left: 0;
  margin-right: 0;
  width: 49%;
}

/* line 726, sass/base.scss */
.admin-panel h3 {
  padding: 0 0 0 .5em;
  background: #eeeeee;
  color: #222222;
}

/* line 732, sass/base.scss */
.admin-panel .body {
  padding: 0 1em;
}

/* line 736, sass/base.scss */
.admin-panel p {
  margin: 0;
  padding: 1em 0 0;
}

/* line 741, sass/base.scss */
.admin-panel ul, .admin-panel ul.menu, .admin-panel .item-list ul {
  padding: 0 0 1em;
}

/* line 745, sass/base.scss */
.admin-panel dl {
  margin: 0;
  padding: 1em 0;
}

/* line 750, sass/base.scss */
.admin-panel dd {
  margin-left: 0;
  color: #555555;
  font-size: .94em;
}

/* line 756, sass/base.scss */
.admin .compact-link {
  margin: 0 0 1em;
}

/* line 760, sass/base.scss */
.page-admin-by-module .admin-panel .body p {
  color: #555555;
  font-size: .94em;
}

/* line 765, sass/base.scss */
.more-help-link {
  font-size: .94em;
  line-height: 1.667em;
}

/* line 770, sass/base.scss */
#permissions td.permission {
  padding-left: .5em;
}

/* line 774, sass/base.scss */
#permissions td.module {
  background: #eeeeee;
  color: #222222;
  font-weight: 700;
}

/* line 780, sass/base.scss */
tr .block {
  border: 0;
}

/* line 784, sass/base.scss */
.local-tasks {
  margin-bottom: 1em;
}

/* line 788, sass/base.scss */
ul.primary {
  border-bottom-color: #cccccc;
  font-size: 0.8em;
  margin: 1.5em 0 0;
  padding: 0 0 .2em .3em;
}

/* line 795, sass/base.scss */
ul.primary li a {
  margin-right: .08em;
  border-color: #cccccc;
  padding: .1em .75em .2em;
  background: #f5f5f5;
}

/* line 802, sass/base.scss */
.local-tasks ul.primary li a:hover {
  border-color: #dddddd;
  background: #f7f7f7;
}

/* line 807, sass/base.scss */
.local-tasks ul.primary li.active a {
  border-bottom-color: #ffffff;
  background: #ffffff;
}

/* line 812, sass/base.scss */
ul.secondary {
  border-bottom: 1px solid #cccccc;
  margin: 1em 0 0;
  padding: 0 .3em 1em;
}

/* line 818, sass/base.scss */
ul.secondary li {
  border-right: 0;
  padding: 0 2em 0 0;
  list-style: none;
}

/* line 824, sass/base.scss */
ul.secondary li a:hover, ul.secondary li a.active {
  border-bottom: none;
  text-decoration: underline;
}

/* line 829, sass/base.scss */
body.admin-menu {
  margin-top: 23px !important;
}

/* line 833, sass/base.scss */
#admin-menu {
  font: 0.9em Arial, Helvetica, sans-serif;
}

/* line 837, sass/base.scss */
#admin-menu ul li a:focus {
  border: 0;
  color: #000000;
  background: #ffff00;
}

/* line 843, sass/base.scss */
div.krumo-root {
  color: #000000;
}

/* Accessible edit links for blocks. */
/* line 848, sass/base.scss */
div.block-edit-links .edit-links {
  padding: 0;
  position: absolute;
  height: 0;
  right: 10px;
  top: .5em;
  overflow: hidden;
  z-index: 99;
}

/* line 858, sass/base.scss */
div.block-edit-links:hover .edit-links {
  height: 20px;
  overflow: visible;
}

/* line 863, sass/base.scss */
div.block-edit-links .edit-links a {
  float: left;
  width: 18px;
  padding: 2px;
  display: block;
  background: transparent;
  text-indent: -999em;
  outline: 0;
}

/* line 873, sass/base.scss */
div.block-edit-links .edit-links a.edit-block-block {
  background: transparent url(groundwork-images/configure.png) no-repeat 2px 2px;
}

/* line 877, sass/base.scss */
div.block-edit-links .edit-links a.edit-block-menu {
  background: transparent url(groundwork-images/edit.png) no-repeat 2px 2px;
}

/* line 881, sass/base.scss */
div.view .views-admin-links {
  font-size: .85em;
}

/* line 885, sass/base.scss */
div.view .views-admin-links a:hover {
  background: #ffffff;
}

/* line 889, sass/base.scss */
.fieldset-layout-settings .layouts .form-item, .fieldset-layout-settings .page-width, .fieldset-layout-settings .sidebar-width-left, .fieldset-layout-settings .sidebar-width-right {
  float: left;
  margin-right: 5px;
  width: 100px;
  padding: 6px;
  background: #eeeeee;
  text-align: left;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

/* line 900, sass/base.scss */
.fieldset-layout-settings img {
  margin-left: 18px;
  display: block;
}

/* line 905, sass/base.scss */
.fieldset-layout-settings .page-width, .fieldset-layout-settings .sidebar-width {
  float: left;
  margin-bottom: 10px;
}

/* line 910, sass/base.scss */
.hide-label label {
  height: 0;
  overflow: hidden;
  position: absolute;
}

/* Skinr style classes. */
/* line 917, sass/base.scss */
.gw-center-content, .gw-center-content ul.menu, .gw-center-content.item-list ul {
  margin: 0;
  text-align: center;
}

/* line 922, sass/base.scss */
.gw-align-right-content, .gw-align-right-content ul.menu, .gw-align-right-content.item-list ul {
  margin: 0;
  text-align: right;
}

/* line 927, sass/base.scss */
.gw-align-left-content, .gw-align-left-content ul.menu, .gw-align-left-content.item-list ul {
  margin: 0;
  text-align: left;
}

/* line 932, sass/base.scss */
.gw-horizontal-login .form-item, .gw-horizontal-login .form-submit {
  float: left;
  padding: 0 .5em;
}

/* line 937, sass/base.scss */
.gw-horizontal-login #user-login-form ul {
  float: left;
  margin: .94em 0 0;
}

/* line 942, sass/base.scss */
.gw-horizontal-login #user-login-form ul li {
  float: left;
  display: inline;
}

/* line 947, sass/base.scss */
.gw-horizontal-login label.overlabel-apply {
  margin-left: .375em;
  float: none;
  position: absolute;
  top: 1em;
}

/* line 954, sass/base.scss */
.gw-horizontal-login .button-wrapper input {
  margin: .75em .5em 0;
}

/* line 958, sass/base.scss */
.gw-horizontal-login #user-login-form li a {
  padding: 0 .75em 0 0;
}

/* line 962, sass/base.scss */
.gw-horizontal-login #user-login-form li.openid-link a, .gw-horizontal-login #user-login li.openid-link a {
  padding: 0 20px;
}

/* inline menu style. */
/* line 967, sass/base.scss */
.gw-inline-menu {
  margin-bottom: .5em;
}

/* line 971, sass/base.scss */
.gw-inline-menu ul.menu li {
  float: left;
  margin: 0;
  padding: 0;
  display: inline;
  white-space: nowrap;
  list-style: none;
  list-style-image: none;
}

/* line 981, sass/base.scss */
.gw-inline-menu ul.menu li a {
  padding: 0 .5em;
}

/* line 985, sass/base.scss */
.gw-multicolumn-menu .block-content {
  overflow: auto;
}

/* line 989, sass/base.scss */
.gw-multicolumn-menu .block-content ul li {
  float: left;
  width: 160px;
  margin: 0;
  display: block;
  list-style: none;
  list-style-image: none;
  font-weight: 700;
}

/* line 999, sass/base.scss */
.gw-multicolumn-menu .block-content ul li.expanded ul {
  margin-left: 0;
  width: 160px;
  display: block;
}

/* line 1005, sass/base.scss */
.gw-multicolumn-menu .block-content ul li.expanded ul li {
  border: none;
  display: block;
}

/* node form classes */
/* line 1011, sass/base.scss */
#node-form .vertical-tabs, #node-form .vertical-tabs-list, #node-form .vertical-tabs-list li {
  border-color: #dadada !important;
}

/* line 1015, sass/base.scss */
.vertical-tabs input.form-text {
  width: 95%;
}

/* Fields. */
/* line 1020, sass/base.scss */
h3.label, h3.label-inline {
  font-size: 1em;
}

/* line 1024, sass/base.scss */
.field .inline {
  display: inline;
}

/* line 1028, sass/base.scss */
div.block div.block-edit {
  top: 10px;
  right: 15px;
}

/* line 1033, sass/base.scss */
.content-inner > #main-content, #container > #columns {
  display: block;
}

/* line 1037, sass/base.scss */
#content-column, #sidebar-first, #sidebar-last, .gw-horizontal-login label {
  float: left;
}

/* line 1041, sass/base.scss */
#content-column, #forum table, .section-admin table {
  width: 100%;
}

/* line 1045, sass/base.scss */
.clear, #columns, #breadcrumb, #content-bottom, #secondary-content, #tertiary-content, #footer, #footer-region, #footer-message, .block, #block-admin-display-form, .fieldset-layout-settings .layout-method, .fieldset-layout-settings .layout-help, .fieldset-layout-settings .page-width {
  clear: both;
}

/* line 1049, sass/base.scss */
h2, input.title {
  font-size: 1.5em;
}

/* line 1053, sass/base.scss */
h1, h2, h3, h4, h5, h6, h1 img, h2 img, h3 img, h4 img, h5 img, h6 img, em, dfn, del, ins, a, tbody, tfoot, thead, tr, li, label, legend, #user-login-form ul, .fieldset-layout-settings .layout-help dt, .fieldset-layout-settings .layout-help dd, .gw-inline-menu ul.menu, .gw-multicolumn-menu .block-content ul {
  margin: 0;
  padding: 0;
}

/* line 1058, sass/base.scss */
blockquote p, .block ul.pager li, div.form-item div.description img, #user-login ul li, .admin-panel .item-list ul, .page-admin-by-module .admin-panel .body, .fieldset-layout-settings .layouts, .fieldset-layout-settings .page-width .form-item, .fieldset-layout-settings .sidebar-width .form-item, .gw-horizontal-login input {
  margin: 0;
}

/* line 1062, sass/base.scss */
strong, dfn, caption, th, div.help code, div.messages code, .admin-dependencies, .admin-required, .admin-enabled, .admin-disabled, .admin-missing, dt, ul.pager li.pager-current, .fieldset-advanced-theme-settings .description em {
  font-weight: 700;
}

/* line 1066, sass/base.scss */
.element-hidden, .gw-inline-menu ul li.expanded ul, span.tabledrag-changed {
  display: none;
}

/* line 1070, sass/base.scss */
.element-invisible, .fieldset-layout-settings span {
  height: 0;
  overflow: hidden;
  position: absolute;
}

/* line 1076, sass/base.scss */
caption, th, td, .gw-horizontal-login #user-login-form {
  text-align: left;
}

/* line 1080, sass/base.scss */
.description, .admin-panel ul li {
  color: #555555;
}

/* line 1084, sass/base.scss */
.error a, .notice a, .success a {
  text-decoration: underline;
}

/* line 1088, sass/base.scss */
ul ul, ul ul ul ul {
  list-style-type: circle;
}

/* line 1092, sass/base.scss */
html.js #user-login-form li.openid-link, html.js #user-login li.openid-link, #user-admin-filter ul li, #node-admin-filter ul li {
  list-style: none;
}

/* line 1096, sass/base.scss */
#user-login-form .item-list li, .gw-center-content ul.menu li, .gw-center-content.item-list ul li {
  margin: 0;
  list-style: none;
}

/* line 1101, sass/base.scss */
.admin-panel dt, .fieldset-layout-settings label, .fieldset-layout-settings strong, .gw-multicolumn-menu .block-content ul.menu li ul.menu li {
  font-weight: 400;
}

/* line 1105, sass/base.scss */
.gw-horizontal-login h2, .gw-inline-menu h2, .gw-multicolumn-menu h2 {
  margin: 0;
  padding: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
}

/* Maintenance mode */
/* line 1114, sass/base.scss */
.in-maintenance h1#page-title {
  padding: 10px;
}
