/* Compass import */
/* Colors */
/* Fonts */
/**
 * $Id$
 * perceptivity.eu
 *
 * @file style.css
 * style.css is the file to use when building your theme. 
 * Make a copy first as a backup.
 */
/**********************************************************
 *                    HTML & Body
 **********************************************************/
/* line 16, sass/style.scss */
html {
  color: white;
}

/* line 20, sass/style.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
  color: #5f5f5f;
  font-family: Verdana, Geneva, "DejaVu Sans", sans-serif;
}

/* Admin menu */
/* line 29, sass/style.scss */
body.admin-menu {
  /* background: #75add6 url(groundwork-images/background-body-admin.jpg) repeat-x fixed top center; */
}

/* line 38, sass/style.scss */
body.in-maintenance #main-content {
  background: #ffffff;
}

/**********************************************************
 *                 HTML Elements
 **********************************************************/
/* line 45, sass/style.scss */
h1, h2, h3, h4 {
  font-weight: normal;
}

/* line 49, sass/style.scss */
h1 {
  color: #000000;
  font-size: 2.167em;
}

/* line 54, sass/style.scss */
h2 {
  color: #000000;
}

/* line 60, sass/style.scss */
h3.oss {
  padding: 5px;
  margin-bottom: 20px;
  color: #e8f0f7;
  background: #F79031;
}

/* line 98, sass/style.scss */
blockquote {
  margin: 10px 40px;
  padding: 10px 35px 10px 45px;
  background: transparent url(groundwork-images/blockquote.png) no-repeat scroll 0 0;
  font-style: italic;
  font-size: 90%;
  text-align: justify;
}

/**********************************************************
 *                 Global Link Styles
 **********************************************************/
/* line 158, sass/style.scss */
a {
  color: #004276;
  font-weight: 500;
  text-decoration: none;
}
/* line 164, sass/style.scss */
a:link, a:visited {
  color: #004276;
}
/* line 168, sass/style.scss */
a:hover {
  color: #006600;
  text-decoration: underline;
}
/* line 173, sass/style.scss */
a:focus {
  color: #cc9900;
  text-decoration: underline;
}
/* line 178, sass/style.scss */
a:active {
  color: #990000;
}

/**********************************************************
 *                    Body Classes
 **********************************************************/
/* NOTE: these are not active by default; you need to 
   enable them in the Advanced theme settings. */
/* Front or not front. */
/* Is the user logged in. */
/* Content type body classes. */
/**********************************************************
 *                  The wrapper divs
 *    Be careful how you modify these, see base.css
 **********************************************************/
/* line 236, sass/style.scss */
#top-elements,
#leaderboard-elements,
#header-elements,
#primary-menu-elements,
#menu-bar-elements,
#messages-help-elements,
#secondary-content-elements,
#container-elements,
#tertiary-content-elements,
#secondary-menu-elements,
#footer-elements,
#main-elements {
  clear: both;
}

/* line 240, sass/style.scss */
#header-elements {
  background: transparent;
}

/* line 244, sass/style.scss */
#primary-menu-elements {
  background: #ededf0 url(../images/bg-main-menu.png) repeat-x 0 bottom;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -khtml-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  height: 50px;
}

/* line 251, sass/style.scss */
#main-elements {
  /* background: url(groundwork-images/a17a16) transparent repeat-x top center; */
  min-height: 147px;
}

/* line 256, sass/style.scss */
#container-elements {
  /*  background: url(groundwork-images/bubbles.png) transparent no-repeat bottom center; */
}

/* line 260, sass/style.scss */
.oslo-fjords {
  background: url(groundwork-images/background-fjords.png) transparent repeat-x bottom center;
}

/* line 285, sass/style.scss */
#container-tertiary-content {
  margin-top: 20px;
  padding-top: 10px;
  background-color: #F79031;
}

/* line 292, sass/style.scss */
#top-bar {
  width: 160px;
  float: right;
  margin: 0;
  padding: 5px 5px 5px 0;
  border-left: #002f00 1px solid;
  border-right: #002f00 1px solid;
  border-bottom: #002f00 1px solid;
  border-top: none !important;
  background: #4DA449;
  color: #dfdfdf;
  min-height: 7px;
  min-width: 7px;
}

/* line 307, sass/style.scss */
.logged-in #top-bar {
  width: 320px;
}

/* line 311, sass/style.scss */
#top-bar .item-list ul {
  margin: 0 10px;
  white-space: nowrap;
}

/* line 320, sass/style.scss */
#top-bar a:link,
#top-bar a:visited {
  color: #ffffff;
}

/* line 324, sass/style.scss */
#top-bar a:hover {
  color: #00ff00;
}

/* line 328, sass/style.scss */
#top-bar a:focus {
  color: #ffcc33;
}

/* line 333, sass/style.scss */
#top-bar a:active,
#top-bar a.active {
  color: #999999;
}

/* line 337, sass/style.scss */
#top-bar div.item-list ul li {
  float: left;
  margin: 0 8px;
  padding: 0;
  display: inline;
  list-style: none outside none;
  white-space: nowrap;
  background: #02A0C7;
}

/* line 347, sass/style.scss */
#top-bar div.item-list ul li a {
  padding: 2px 4px;
  border: 1px solid #b8d3e5;
  display: block;
  white-space: nowrap;
  color: #eff3ff;
}

/* line 355, sass/style.scss */
#top-bar div.item-list ul li a:hover {
  border: 1px solid #02A0C7;
  background: #ffffff;
  color: #02A0C7;
  text-decoration: none;
}

/* Column wrappers */
/* line 363, sass/style.scss */
#columns {
  padding: 10px 0 0;
}

/* Content wrappers */
/* Main content wrappers*/
/* line 379, sass/style.scss */
#main-content {
  padding: 0 0 20px;
}

/* line 383, sass/style.scss */
.front #main-content {
  padding-top: 10px;
}

/* Footer wrappers. bottom has a 100% width. 
   footer-container has a 960px width in base.css. */
/* line 392, sass/style.scss */
#footer-elements {
  background: transparent;
  color: #cccccc;
  min-height: 20px;
}

/**********************************************************
 *                       Regions
 **********************************************************/
/* Leaderboard is a region at the very top of the page. */
/* line 403, sass/style.scss */
#leaderboard {
  padding: 10px 0;
}

/* Header region is embedded in the header, on the right side of the logo/site_name */
/* line 408, sass/style.scss */
#header-region {
  float: right;
  clear: none !important;
  display: inline;
}

/* Highlight is embedded in the header, with the same width of the logo/sitename
 and positioned under them */
/* line 416, sass/style.scss */
#highlight {
  width: 600px;
  margin: 10px 10px 10px 0;
  float: left;
  clear: none !important;
  display: inline;
}

/* Menu Bar sits below the header and is ideal for dynamic menus 
   such as http://drupal.org/project/superfish. */
/* line 426, sass/style.scss */
#menu-bar {
  clear: both;
}

/* Secondary content is a full width region between the header and the
   main columns. */
/* line 432, sass/style.scss */
#secondary-content {
  padding: 10px 0;
}

/* Tertiary content is a full width region above the footer, below the
   main content. */
/* line 438, sass/style.scss */
#tertiary-content {
  padding: 0;
}

/* Content top and bottom are above and below the main content, within the main 
   content column. Content aside floats to the right within the main central
   column, but below content top. */
/* line 448, sass/style.scss */
#content-aside {
  float: right;
  padding-left: 10px;
  width: 240px;
  background: #ffffff;
}

/**********************************************************
 *                 User Bar
 **********************************************************/
/* line 461, sass/style.scss */
.gw-horizontal-login, .gw-horizontal-login form {
  padding: 0;
  margin: 0;
}

/* line 466, sass/style.scss */
.gw-horizontal-login .form-item, .gw-horizontal-login .form-submit {
  float: left;
  padding: 0.1em 0.3em;
}

/* line 471, sass/style.scss */
.gw-horizontal-login .form-submit {
  margin: 0.375em 0 0 0.7em;
  cursor: pointer;
}

/* line 476, sass/style.scss */
.gw-horizontal-login .form-item {
  margin-bottom: 0;
  margin-top: 0.3em;
  white-space: nowrap;
}

/* line 482, sass/style.scss */
.gw-horizontal-login .button-wrapper input {
  margin: 0.375em 0.3em 0;
}

/* line 486, sass/style.scss */
.gw-horizontal-login label {
  float: left;
  margin-top: 0.4em;
}

/* line 491, sass/style.scss */
.gw-horizontal-login label.overlabel-apply {
  float: none;
  margin-left: 0.375em;
  margin-top: 0;
  position: absolute;
  top: 0.5em;
}

/* line 499, sass/style.scss */
#user-bar p.user-menu {
  float: left;
  padding: 0;
  margin: 0.7em 0 0;
}

/* line 505, sass/style.scss */
#user-bar div.item-list ul {
  float: left;
  padding: 0;
  margin: 0.375em 0 0 0.7em;
}

/* line 511, sass/style.scss */
#user-bar .gw-horizontal-login div.item-list ul {
  margin: 0.375em 0 0 0;
}

/**********************************************************
 *                      Sidebars
 **********************************************************/
/* Target both sidebars with this low specifity selector. */
/* Target a specific sidebar. */
/**********************************************************
 *                   Skip navigation
 **********************************************************/
/**
 * DO NOT USE display:none as this hides it from screen readers!
 */
/* line 536, sass/style.scss */
#skip-nav {
  float: left;
  width: 160px;
  text-align: left;
}

/* Override default pseudo class styles */
/**********************************************************
 *                 Header Elements
 **********************************************************/
/* #header wraps #branding, #search-box-top and #header-blocks. */
/* line 562, sass/style.scss */
#header {
  clear: both;
  margin: 0;
  padding-top: 5px;
}

/* #branding wraps #logo, #site-name and #site-slogan. */
/* line 569, sass/style.scss */
#branding {
  float: left;
  padding: 0 !important;
  clear: none !important;
  display: inline;
}

/* Logo and Site Name wrapper. */
/* Logo and Site Name wrapper h1 - normally applies only the homepage. */
/* line 581, sass/style.scss */
h1.logo-site-name {
  font-size: 1em;
}

/* Logo and Site Name wrapper DIV - normally applies to all internal pages,
   or where no title is set. */
/* DIV/strong combo when when title is set. */
/* By default the span is set to display:block, you can display:inline
   or float the elements to get them all on one line. */
/* line 596, sass/style.scss */
.logo-site-name span {
  display: block;
}

/* Logo and Site Name SPAN wrappers. */
/* line 601, sass/style.scss */
span#logo {
  float: left;
  margin: 10px 10px 10px 0;
}

/* line 606, sass/style.scss */
span#site-name {
  margin: 0 10px 0 0;
  padding: 20px 0 0 0;
}

/* line 611, sass/style.scss */
#site-name {
  font-size: 3em;
  font-weight: 700;
  line-height: 1.5;
}

/* Override default pseudo class styles. */
/* line 622, sass/style.scss */
#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:focus,
#site-name a:active {
  color: #ffffff;
}

/* Site slogan. */
/* line 627, sass/style.scss */
#site-slogan {
  margin-bottom: 20px;
  color: #000000;
  font-style: italic;
  font-weight: 700;
}

/**********************************************************
 *    Search box, Advanced search form, Search results
 *          For the search block see blocks.css
 **********************************************************/
/**
 * Search box
 */
/* Float the serch box right. */
/* Reset form element margins. */
/* line 646, sass/style.scss */
#search-theme-form {
  float: right;
  margin: 0;
}

/* Wrapper DIVs */
/**
 * Advanced search form
 */
/* Advanced search-form id. */
/* Use the child selector because the inner div has no class. */
/* Textfield styles. */
/* Advanced search fieldset. */
/**
 * Search results
 */
/* Box styles for the results page. */
/* Style the no results messages. */
/* Search results document list. */
/**********************************************************
 *               Primary & Secondary Links
 **********************************************************/
/* Primary-links div wrapper */
/* line 772, sass/style.scss */
#primary {
  clear: both;
}

/* Class on the ul */
/* line 780, sass/style.scss */
.primary-links {
  margin: 0;
  padding: 10px 0 0;
}
/* line 784, sass/style.scss */
.primary-links li {
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
  display: inline;
  list-style: none;
}
/* line 791, sass/style.scss */
.primary-links li.last {
  margin-right: 0;
}
/* line 795, sass/style.scss */
.primary-links li a {
  white-space: nowrap;
  color: #333333;
  text-transform: uppercase;
}
/* line 801, sass/style.scss */
.primary-links li a:link, .primary-links li a:visited {
  color: #333333;
}
/* line 807, sass/style.scss */
.primary-links li a:hover, .primary-links li a:active, .primary-links li a:focus {
  color: #666666;
  text-decoration: none;
}

/* Primary first and last classes. */
/* Active trail classes. */
/* Secondary-links div wrapper */
/* line 833, sass/style.scss */
#secondary {
  clear: both;
}

/* Class on the ul */
/* line 838, sass/style.scss */
.secondary-links {
  margin: 0;
  padding: 0;
}

/* Modify the margin to set tab spacings. */
/* line 844, sass/style.scss */
.secondary-links li {
  float: left;
  margin: 0;
  padding: 0;
  display: inline;
  list-style: none;
}

/* line 852, sass/style.scss */
.secondary-links li a {
  padding: 0 0.5em;
  display: block;
  white-space: nowrap;
}

/* Set pseudo class styles. */
/* Secondary first and last classes. */
/* Active trail classes. */
/**********************************************************
 *                      Breadcrumb
 **********************************************************/
/* line 894, sass/style.scss */
#breadcrumb {
  margin: 0 0 10px 10px;
  padding: 5px 10px;
  background: #e8f0f7;
  font: italic 0.833em Georgia, "Times New Roman", Times, serif;
}

/**********************************************************
 *                       Mission
 **********************************************************/
/* line 922, sass/style.scss */
#mission {
  margin: .3em 0 1.5em;
  font-weight: 700;
}

/**********************************************************
 *                    H1 Page Title
 **********************************************************/
/* line 930, sass/style.scss */
h1#page-title {
  color: #000000;
  font-family: Georgia,"Times New Roman",Times,serif;
}

/**********************************************************
 *                     Pager 
 **********************************************************/
/* The first 2 classes provide the base pager styles. */
/* Theme the various states of pager links. */
/* Note: .pager-current is for the current page. */
/**********************************************************
 *               Footer, Footer Message
 **********************************************************/
/* line 983, sass/style.scss */
#footer {
  padding: 20px 0;
}

/* line 991, sass/style.scss */
#footer a:link,
#footer a:visited {
  color: #ffffff;
}

/* line 995, sass/style.scss */
#footer a:hover {
  color: #00ff00;
}

/* line 999, sass/style.scss */
#footer a:focus {
  color: #ffcc33;
}

/* line 1004, sass/style.scss */
#footer a:active,
#footer a.active {
  color: #999999;
}

/* line 1020, sass/style.scss */
#attribution {
  clear: both;
  font-size: 0.833em;
  text-align: right;
}

/**********************************************************
 *                 RSS Feed Icon
 **********************************************************/
/* line 1035, sass/style.scss */
#feed-icons .feed-icon img {
  padding: 0 10px;
}

/**********************************************************
 *                  Generic Content Classes
 **********************************************************/
/* line 1048, sass/style.scss */
.submitted {
  margin: .375em 0 0.75em;
  font-size: 0.8em;
}

/* line 1053, sass/style.scss */
.submitted em {
  font-style: normal;
}

/**********************************************************
 *                      Articles (nodes)
 **********************************************************/
/* line 1075, sass/style.scss */
.node {
  margin-bottom: 2em;
}

/* Teaser title (H2). */
/* line 1080, sass/style.scss */
.node-title {
  clear: both;
  padding-top: 10px;
  font: 1.833em Georgia,"Times New Roman",Times,serif;
  color: #333333;
}

/* line 1089, sass/style.scss */
.node-title a:link,
.node-title a:visited,
.node-title a:active {
  text-decoration: none;
}

/* line 1093, sass/style.scss */
.node-title a:hover, .node-title a:focus {
  text-decoration: underline;
}

/* User Picture. */
/* line 1110, sass/style.scss */
.node .user-picture img {
  float: left;
  padding: 0 10px 2px 0;
}

/* Submitted */
/* Common links classes. */
/* line 1135, sass/style.scss */
.node ul.links {
  border-top: 10px dotted #75add6;
  clear: both;
  float: right;
  margin: 20px 10px;
  padding: 4px 0 4px 8px;
}

/* line 1143, sass/style.scss */
.node ul.links li {
  padding: 0 1em 0 0;
}

/* Taxonomy terms. */
/* Term list */
/* line 1152, sass/style.scss */
ul.taxonomy {
  margin: 0 0 1em;
  padding-top: 1em;
  clear: both;
}

/* line 1158, sass/style.scss */
ul.taxonomy li {
  display: inline;
  list-style: none;
}

/* With vocab headers */
/* line 1170, sass/style.scss */
.vocab-name {
  font-size: 1em;
  font-weight: 700;
}

/* Style module links. */
/* UL link first and last classes. */
/* Workflow states. */
/* Status. */
/* line 1236, sass/style.scss */
.node-unpublished .unpublished {
  font-size: 0.5em;
}

/* Theme the teaser seperatly. */
/**********************************************************
 *                     Content types
 *              Style node types by type.
 **********************************************************/
/**
 * Custom Content Types
 * Replace CONTENT_TYPE with the content type
 * machine-readable name.
 */
/**********************************************************
 *                    CCK Fields
 **********************************************************/
/* Wrapper for any CCK field. */
/* Use "datetime" when creating new CCK date fields. */
/* Filefield field. */
/* Node reference field. */
/* User reference field. */
/* Number fields. */
/* Text field. */
/**
 * Specific field names.
 */
/* Underscores in field name are replaced with dashes. */
/* line 1318, sass/style.scss */
.views-view-grid .field-featured-image {
  float: left;
  margin: 2px 7px 3px 0;
}

/**********************************************************
 *                     Comments
 **********************************************************/
/* Comment wrapper: wraps all comments and the comment form. */
/* line 1327, sass/style.scss */
#comments {
  clear: both;
}

/* line 1331, sass/style.scss */
#comments-title {
  background: #777777;
  color: #ffffff;
  margin-bottom: 20px;
  padding: 7px;
}

/* Wrapper class for each individual comment. */
/* line 1339, sass/style.scss */
.comment {
  border: 1px solid #BDBDBD;
  margin: 0 0 1.5em;
  padding: 7px;
  min-height: 100px;
}

/* Indentation */
/* line 1347, sass/style.scss */
.comment .indented {
  margin-left: 60px;
}

/* Comment Title (H3) */
/* line 1357, sass/style.scss */
.comment-title a:link,
.comment-title a:visited,
.comment-title a:active {
  text-decoration: none;
}

/* line 1362, sass/style.scss */
.comment-title a:hover,
.comment-title a:focus {
  text-decoration: underline;
}

/* Comment id (count with pound sign, see line 28 comment.tpl.php) 
   and comment "new" notification. */
/* User Picture */
/* line 1387, sass/style.scss */
.comment .user-picture img {
  float: left;
  padding: 0 10px 0 0;
}

/* Submitted */
/* Links */
/* line 1412, sass/style.scss */
.comment ul.links {
  padding: 0 1em 0 0;
  display: block;
  text-align: right;
}

/* Core comment link classes. */
/* UL link first and last classes. */
/* Author */
/* New */
/* Zebra */
/* Status */
/* Themes the "Unpublished" text. */
/* Comment box wrapper on a seperate page. */
/* Comment box wrapper below content. */
/* line 1481, sass/style.scss */
#comments .box .box-title {
  font-family: Georgia,"Times New Roman",Times,serif;
}

/* Sytle comments by node type. */
/**********************************************************
 *                       Blocks
 **********************************************************/
/**
 * Styles set for .block, .block-inner, block-title and 
 * .block-content will be inherited by all blocks.
 */
/* line 1511, sass/style.scss */
.block {
  margin: 0 10px 10px;
  padding: 0;
  min-height: 15px;
  min-width: 15px;
  position: relative;
  z-index: 0;
}

/* line 1520, sass/style.scss */
.white .block-inner {
  background: #ffffff;
}

/* line 1524, sass/style.scss */
.grey .block-inner {
  background: #bdbdbd;
}

/* line 1528, sass/style.scss */
.dark-grey .block-inner {
  background: #575757;
}

/* line 1532, sass/style.scss */
.light-grey .block-inner {
  background: #f0f0f0;
}

/* line 1536, sass/style.scss */
.green .block-inner {
  background: #4DA449;
}

/* line 1540, sass/style.scss */
.dark-green .block-inner {
  background: #426320;
}

/* line 1544, sass/style.scss */
.light-green .block-inner {
  background: #F1FFCF;
}

/* line 1548, sass/style.scss */
.dark-blue .block-inner {
  background: #214263;
}

/* line 1552, sass/style.scss */
.blue .block-inner {
  background: #02A0C7;
}

/* line 1556, sass/style.scss */
.light-blue .block-inner {
  background: #CBECF3;
}

/* line 1560, sass/style.scss */
.sky-blue .block-inner {
  background: #e8f0f7;
}

/* line 1564, sass/style.scss */
.dark-red .block-inner {
  background: #660000;
}

/* line 1571, sass/style.scss */
.light-red .block-inner {
  background: #ecc5c5;
}

/* line 1575, sass/style.scss */
.brown .block-inner {
  background: #996632;
}

/* line 1579, sass/style.scss */
.dark-brown .block-inner {
  background: #634220;
}

/* line 1583, sass/style.scss */
.light-brown .block-inner {
  background: #ececc5;
}

/* line 1587, sass/style.scss */
.block-title {
  padding-left: 5px;
  margin-bottom: 5px;
  color: #000000;
  font: 1.5em Georgia,"Times New Roman",Times,serif;
}

/* Block Title font colors if block has light background */
/* line 1601, sass/style.scss */
.white h2.block-title,
.light-grey h2.block-title,
.light-blue h2.block-title,
.sky-blue h2.block-title,
.light-red h2.block-title,
.light-green h2.block-title,
.light-brown h2.block-title {
  color: #000000;
}

/* line 1618, sass/style.scss */
.white h2.block-title a:link,
.light-grey h2.block-title a:link,
.light-blue h2.block-title a:link,
.sky-blue h2.block-title a:link,
.light-red h2.block-title a:link,
.light-green h2.block-title a:link,
.light-brown h2.block-title a:link,
.white h2.block-title a:visited,
.light-grey h2.block-title a:visited,
.light-blue h2.block-title a:visited,
.sky-blue h2.block-title a:visited,
.light-red h2.block-title a:visited,
.light-green h2.block-title a:visited,
.light-brown h2.block-title a:visited {
  color: #666666;
}

/* line 1649, sass/style.scss */
.white h2.block-title a:hover,
.light-grey h2.block-title a:hover,
.light-blue h2.block-title a:hover,
.sky-blue h2.block-title a:hover,
.light-red h2.block-title a:hover,
.light-green h2.block-title a:hover,
.light-brown h2.block-title a:hover,
.white h2.block-title a:focus,
.light-grey h2.block-title a:focus,
.light-blue h2.block-title a:focus,
.sky-blue h2.block-title a:focus,
.light-red h2.block-title a:focus,
.light-green h2.block-title a:focus,
.light-brown h2.block-title a:focus,
.white h2.block-title a:active,
.light-grey h2.block-title a:active,
.light-blue h2.block-title a:active,
.sky-blue h2.block-title a:active,
.light-red h2.block-title a:active,
.light-green h2.block-title a:active,
.light-brown h2.block-title a:active,
.white h2.block-title a.active,
.light-grey h2.block-title a.active,
.light-blue h2.block-title a.active,
.sky-blue h2.block-title a.active,
.light-red h2.block-title a.active,
.light-green h2.block-title a.active,
.light-brown h2.block-title a.active {
  color: #333333;
  text-decoration: underline;
}

/* Block Title font colors if block has dark background */
/* line 1663, sass/style.scss */
.dark-grey h2.block-title,
.dark-blue h2.block-title,
.blue h2.block-title,
.dark-green h2.block-title,
.green h2.block-title,
.dark-red h2.block-title,
.red h2.block-title,
.dark-brown h2.block-title,
.brown h2.block-title {
  color: #efefef;
}

/* line 1684, sass/style.scss */
.dark-grey h2.block-title a:link,
.dark-blue h2.block-title a:link,
.blue h2.block-title a:link,
.dark-green h2.block-title a:link,
.green h2.block-title a:link,
.dark-red h2.block-title a:link,
.red h2.block-title a:link,
.dark-brown h2.block-title a:link,
.brown h2.block-title a:link,
.dark-grey h2.block-title a:visited,
.dark-blue h2.block-title a:visited,
.blue h2.block-title a:visited,
.dark-green h2.block-title a:visited,
.green h2.block-title a:visited,
.dark-red h2.block-title a:visited,
.red h2.block-title a:visited,
.dark-brown h2.block-title a:visited,
.brown h2.block-title a:visited {
  color: #ffffff;
}

/* line 1723, sass/style.scss */
.dark-grey h2.block-title a:hover,
.dark-blue h2.block-title a:hover,
.blue h2.block-title a:hover,
.dark-green h2.block-title a:hover,
.green h2.block-title a:hover,
.dark-red h2.block-title a:hover,
.red h2.block-title a:hover,
.dark-brown h2.block-title a:hover,
.brown h2.block-title a:hover,
.dark-grey h2.block-title a:focus,
.dark-blue h2.block-title a:focus,
.blue h2.block-title a:focus,
.dark-green h2.block-title a:focus,
.green h2.block-title a:focus,
.dark-red h2.block-title a:focus,
.red h2.block-title a:focus,
.dark-brown h2.block-title a:focus,
.brown h2.block-title a:focus,
.dark-grey h2.block-title a:active,
.dark-blue h2.block-title a:active,
.blue h2.block-title a:active,
.dark-green h2.block-title a:active,
.green h2.block-title a:active,
.dark-red h2.block-title a:active,
.red h2.block-title a:active,
.dark-brown h2.block-title a:active,
.brown h2.block-title a:active,
.dark-grey h2.block-title a.active,
.dark-blue h2.block-title a.active,
.blue h2.block-title a.active,
.dark-green h2.block-title a.active,
.green h2.block-title a.active,
.dark-red h2.block-title a.active,
.red h2.block-title a.active,
.dark-brown h2.block-title a.active,
.brown h2.block-title a.active {
  color: #cccccc;
  text-decoration: underline;
}

/* Block Content */
/* line 1737, sass/style.scss */
.block-content .block-content-inner {
  padding: 7px;
  position: relative;
  z-index: 1;
}

/* line 1743, sass/style.scss */
.content-white .block-content {
  background: #ffffff;
}

/* line 1747, sass/style.scss */
.content-grey .block-content {
  background: #bdbdbd;
}

/* line 1751, sass/style.scss */
.content-dark-grey .block-content {
  background: #575757;
}

/* line 1755, sass/style.scss */
.content-light-grey .block-content {
  background: #f0f0f0;
}

/* line 1759, sass/style.scss */
.content-blue .block-content {
  background: #02A0C7;
}

/* line 1763, sass/style.scss */
.content-dark-blue .block-content {
  background: #214263;
}

/* line 1767, sass/style.scss */
.content-light-blue .block-content {
  background: #CBECF3;
}

/* line 1771, sass/style.scss */
.content-sky-blue .block-content {
  background: #e8f0f7;
}

/* line 1775, sass/style.scss */
.content-red .block-content {
  background: #F79031;
}

/* line 1779, sass/style.scss */
.content-dark-red .block-content {
  background: #660000;
}

/* line 1783, sass/style.scss */
.content-light-red .block-content {
  background: #ecc5c5;
}

/* line 1787, sass/style.scss */
.content-green .block-content {
  background: #4DA449;
}

/* line 1791, sass/style.scss */
.content-dark-green .block-content {
  background: #426320;
}

/* line 1795, sass/style.scss */
.content-light-green .block-content {
  background: #F1FFCF;
}

/* line 1799, sass/style.scss */
.content-brown .block-content {
  background: #996632;
}

/* line 1803, sass/style.scss */
.content-dark-brown .block-content {
  background: #634220;
}

/* line 1807, sass/style.scss */
.content-light-brown .block-content {
  background: #ececc5;
}

/* Block content font colors if block content has light background */
/* line 1818, sass/style.scss */
.content-white .block-content,
.content-light-grey .block-content,
.content-light-blue .block-content,
.content-sky-blue .block-content,
.content-light-red .block-content,
.content-light-green .block-content,
.content-light-brown .block-content {
  color: #000000;
}

/* line 1827, sass/style.scss */
.content-light-red .block-content a:link,
.content-light-green .block-content a:link,
.content-light-brown .block-content a:link,
.content-light-red .block-content a:visited,
.content-light-green .block-content a:visited,
.content-light-brown .block-content a:visited {
  color: #666666;
}

/* line 1858, sass/style.scss */
.content-white .block-content a:hover,
.content-light-grey .block-content a:hover,
.content-light-blue .block-content a:hover,
.content-sky-blue .block-content a:hover,
.content-light-red .block-content a:hover,
.content-light-green .block-content a:hover,
.content-light-brown .block-content a:hover,
.content-white .block-content a:focus,
.content-light-grey .block-content a:focus,
.content-light-blue .block-content a:focus,
.content-sky-blue .block-content a:focus,
.content-light-red .block-content a:focus,
.content-light-green .block-content a:focus,
.content-light-brown .block-content a:focus,
.content-white .block-content a:active,
.content-light-grey .block-content a:active,
.content-light-blue .block-content a:active,
.content-sky-blue .block-content a:active,
.content-light-red .block-content a:active,
.content-light-green .block-content a:active,
.content-light-brown .block-content a:active,
.content-white .block-content a.content-active,
.content-light-grey .block-content a.active,
.content-light-blue .block-content a.active,
.content-sky-blue .block-content a.active,
.content-light-red .block-content a.active,
.content-light-green .block-content a.active,
.content-light-brown .block-content a.active {
  color: #333333;
  text-decoration: underline;
}

/* Block Content Font Colors if block has dark background */
/* line 1872, sass/style.scss */
.content-dark-grey .block-content,
.content-dark-blue .block-content,
.content-blue .block-content,
.content-dark-green .block-content,
.content-green .block-content,
.content-dark-red .block-content,
.content-red .block-content,
.content-dark-brown .block-content,
.content-brown .block-content {
  color: #efefef;
}

/* line 1902, sass/style.scss */
.content-dark-grey .block-content a,
.content-dark-blue .block-content a,
.content-blue .block-content a,
.content-dark-green .block-content a,
.content-green .block-content a,
.content-dark-red .block-content a,
.content-red .block-content a,
.content-dark-brown .block-content a,
.content-brown .block-content a,
.content-dark-grey .block-content a:link,
.content-dark-blue .block-content a:link,
.content-blue .block-content a:link,
.content-dark-green .block-content a:link,
.content-green .block-content a:link,
.content-dark-red .block-content a:link,
.content-red .block-content a:link,
.content-dark-brown .block-content a:link,
.content-brown .block-content a:link,
.content-dark-grey .block-content a:visited,
.content-dark-blue .block-content a:visited,
.content-blue .block-content a:visited,
.content-dark-green .block-content a:visited,
.content-green .block-content a:visited,
.content-dark-red .block-content a:visited,
.content-red .block-content a:visited,
.content-dark-brown .block-content a:visited,
.content-brown .block-content a:visited {
  color: #ffffff;
}

/* line 1914, sass/style.scss */
.content-dark-grey .block-content a:hover,
.content-dark-blue .block-content a:hover,
.content-blue .block-content a:hover,
.content-dark-green .block-content a:hover,
.content-green .block-content a:hover,
.content-dark-red .block-content a:hover,
.content-red .block-content a:hover,
.content-dark-brown .block-content a:hover,
.content-brown .block-content a:hover {
  color: #ccffcc;
}

/* line 1944, sass/style.scss */
.content-dark-grey .block-content a:focus,
.content-dark-blue .block-content a:focus,
.content-blue .block-content a:focus,
.content-dark-green .block-content a:focus,
.content-green .block-content a:focus,
.content-dark-red .block-content a:focus,
.content-red .block-content a:focus,
.content-dark-brown .block-content a:focus,
.content-brown .block-content a:focus,
.content-dark-grey .block-content a:active,
.content-dark-blue .block-content a:active,
.content-blue .block-content a:active,
.content-dark-green .block-content a:active,
.content-green .block-content a:active,
.content-dark-red .block-content a:active,
.content-red .block-content a:active,
.content-dark-brown .block-content a:active,
.content-brown .block-content a:active,
.content-dark-grey .block-content a.active,
.content-dark-blue .block-content a.active,
.content-blue .block-content a.active,
.content-dark-green .block-content a.active,
.content-green .block-content a.active,
.content-dark-red .block-content a.active,
.content-red .block-content a.active,
.content-dark-brown .block-content a.active,
.content-brown .block-content a.active {
  color: #ffcccc;
}

/* line 1948, sass/style.scss */
.block-content h2 {
  padding-bottom: 1em;
}

/**********************************************************
 *                   Sidebar blocks
 **********************************************************/
/**
 * You can target blocks in one or more regions and 
 * style them differently. 
 */
/* Low specifity selector to style blocks in both sidebars. */
/* line 1961, sass/style.scss */
.sidebar .block {
  margin-bottom: 20px;
}

/* High specifity selectors to style blocks in one sidebar - be careful,
   these are powerful selectors! */
/**********************************************************
 *                  Region blocks
 **********************************************************/
/* High specifity selectors to style blocks in one region. */
/**********************************************************
 *                   Module blocks
 **********************************************************/
/**
 * Module Block ID's 
 * For contributed module blocks the pattern is the same,
 * i.e. #block-[module]-[delta]
 */
/* line 2048, sass/style.scss */
#block-locale-0 ul {
  margin: 0 0 0 1.5em;
  padding: 0;
}

/* line 2053, sass/style.scss */
#block-locale-0 ul li {
  padding: .35em 0 0;
}

/* line 2060, sass/style.scss */
#block-node-0 .feed-icon img {
  padding: 10px 0;
}

/* Primary and Secondary links blocks */
/* The class selector applies to all blocks of these types. */
/**********************************************************
 *                 Specific blocks
 **********************************************************/
/* line 2114, sass/style.scss */
.featured-sessions .title {
  font-size: 1.5em;
}

/* line 2118, sass/style.scss */
.featured-sessions .picture {
  float: left;
  padding: 0 10px 0 0;
}

/* line 2125, sass/style.scss */
#block-block-1 p,
#block-block-5 p,
#block-block-11 p {
  margin-bottom: 0;
}

/* line 2130, sass/style.scss */
#block-views-attendees-block_1 td,
#block-views-attendees-block_1 th {
  border-bottom: none;
}

/* line 2134, sass/style.scss */
#block-views-attendees-block_1 table {
  width: auto;
}

/* line 2138, sass/style.scss */
#block-views-featured_sessions-block_1 {
  margin-bottom: 0;
}

/* line 2142, sass/style.scss */
#block-views-featured_sessions-block_1 .view-footer li {
  list-style: none outside none;
  text-align: right;
}

/* line 2147, sass/style.scss */
#user-login-form {
  margin: 0;
}

/**********************************************************
 *                 Search block form
 **********************************************************/
/* line 2154, sass/style.scss */
#search-block-form {
  margin: 0;
}

/* Wrapper DIVs. */
/* Override forms.css focus style */
/**********************************************************
 *                   Menu blocks
 **********************************************************/
/**
 * Prefix these with the block id to style one menu only.
 */
/* Menu li styles */
/* line 2198, sass/style.scss */
ul.menu li {
  margin: 0 0 0 0.5em;
}

/**********************************************************
 *                   Block item-list
 **********************************************************/
/* line 2240, sass/style.scss */
.block .item-list ul {
  margin-left: 1em;
}

/* line 2244, sass/style.scss */
.block .item-list ul li {
  margin: 0;
}

/**********************************************************
 *                 Groundwork Button Wrappers
 **********************************************************/
/**
 * Groundwork wraps input buttons with SPANs for
 * easy theming.
 */
/**********************************************************
 *                       Tables
 **********************************************************/
/**
 * The selector groupings are from Garland which offers a
 * sensible starting point for styling Drupal tables.
 */
/* line 2283, sass/style.scss */
thead th {
  border-bottom: 0.1875em solid #d3e7f4;
}

/* line 2287, sass/style.scss */
td, th {
  border-bottom: 1px solid #d3e7f4;
}

/* line 2291, sass/style.scss */
tr.even, tr.odd, tbody th {
  border-color: #d3e7f4;
  border-style: solid;
  border-width: 1px 0;
}

/* line 2297, sass/style.scss */
tr.odd, tr.info {
  background: #edf5fa;
}

/* line 2326, sass/style.scss */
fieldset {
  border: 1px solid #d9eaf5;
  background: url("groundwork-images/gradient-blue.png") repeat-x scroll 0 0 white;
}

/**********************************************************
 *                   Forum Tables
 **********************************************************/
/* line 2346, sass/style.scss */
#book-navigation-4 {
  display: none;
}

/* line 2350, sass/style.scss */
.event-node .item {
  margin-bottom: 1em;
}

/* line 2354, sass/style.scss */
.no-margin {
  margin: 0;
}

/* line 2358, sass/style.scss */
.flag-message {
  background: #efefef;
}

/* line 2362, sass/style.scss */
img.float-right {
  clear: right;
  float: right;
  padding: 0 0 5px 10px;
}

/* line 2369, sass/style.scss */
img.float-left,
.profile .user-picture img.imagecache-user_image_large {
  clear: left;
  float: left;
  padding: 0 10px 5px 0;
}

/* line 2375, sass/style.scss */
.profile .fields {
  margin: 1em 0;
}

/* line 2379, sass/style.scss */
.profile tbody, .profile table, .profile tr, .profile td, .profile th {
  border-top: none;
  border-bottom: none;
}

/* line 2384, sass/style.scss */
.profile table {
  width: 400px;
}

/* line 2388, sass/style.scss */
.view-id-front {
  padding-top: 10px;
}

/* line 2392, sass/style.scss */
.view-id-front h1 {
  clear: both;
  margin: 0;
  color: #000000;
  font-family: Georgia,"Times New Roman",Times,serif;
}

/* line 2399, sass/style.scss */
ul.primary li a {
  background: #e8f0f7;
}

/* line 2403, sass/style.scss */
.forum .name a {
  font-weight: bold;
}

/* line 2407, sass/style.scss */
.field-presenter-pic a img {
  float: right;
  padding: 3px 0 2px 10px;
}

/* line 2412, sass/style.scss */
.field-presenter .item {
  font-weight: bold;
}

/* line 2416, sass/style.scss */
.view-id-front .views-view-grid td {
  width: 50%;
}

/* line 2420, sass/style.scss */
.view-id-front .views-view-grid tr.row-first h2.node-title {
  padding-top: 0;
}

/* line 2424, sass/style.scss */
.view-id-deltakerliste td {
  border-bottom: none;
  text-align: center;
}

/* line 2429, sass/style.scss */
#main-content .view-id-deltakerliste td {
  padding: 20px 0;
}

/* line 2433, sass/style.scss */
#block-views-deltakerliste-block_1 .view-id-deltakerliste td {
  width: 25%;
}

/* line 2437, sass/style.scss */
.center {
  text-align: center;
}

/* line 2441, sass/style.scss */
.small {
  font-size: 83%;
}

/* line 2445, sass/style.scss */
#footer-region #block-block-6 {
  margin: 0 10px 0 0;
  width: 470px;
}

/* line 2450, sass/style.scss */
#footer-region #block-views-deltakerliste-block_1 {
  margin: 0 0 0 10px;
  width: 470px;
}

/**********************************************************
 *                   Registration and Login Menu
 **********************************************************/
/* line 2459, sass/style.scss */
#block-menu-menu-register-login-menu {
  margin: 25px 0 0;
}
/* line 2462, sass/style.scss */
#block-menu-menu-register-login-menu ul {
  padding: 0;
  list-style: none;
}
/* line 2467, sass/style.scss */
#block-menu-menu-register-login-menu li {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}
/* line 2474, sass/style.scss */
#block-menu-menu-register-login-menu li.first a {
  width: 160px;
  height: 54px;
  background: transparent url(../images/btn-register.png) left top;
  overflow: hidden;
  text-indent: -999999%;
  display: block;
}
/* line 2482, sass/style.scss */
#block-menu-menu-register-login-menu li.first a:hover {
  background-position: left bottom;
}
/* line 2487, sass/style.scss */
#block-menu-menu-register-login-menu li.last a {
  width: 160px;
  height: 54px;
  background: transparent url(../images/btn-register.png) right top;
  overflow: hidden;
  text-indent: -999999%;
  display: block;
}
/* line 2495, sass/style.scss */
#block-menu-menu-register-login-menu li.last a:hover {
  background-position: right bottom;
}

/**********************************************************
 *                   Banner slideshow
 **********************************************************/
/* line 2506, sass/style.scss */
#block-views-frontpage_banner-block_1 {
  margin: 0;
}
/* line 2509, sass/style.scss */
#block-views-frontpage_banner-block_1 .block-content-inner {
  padding: 0;
}
/* line 2513, sass/style.scss */
#block-views-frontpage_banner-block_1 img {
  border: 1px solid #D2D3D2;
}
/* line 2517, sass/style.scss */
#block-views-frontpage_banner-block_1 .views-slideshow-controls-top {
  position: absolute;
  top: 100px;
  left: -45px;
  width: 1000px;
}
/* line 2523, sass/style.scss */
#block-views-frontpage_banner-block_1 .views-slideshow-controls-top a {
  background: transparent url(../images/slideshow-arrow.png) no-repeat right top;
  height: 36px;
  width: 25px;
  overflow: hidden;
  text-indent: -99999%;
  display: block;
}
/* line 2531, sass/style.scss */
#block-views-frontpage_banner-block_1 .views-slideshow-controls-top a:hover {
  background-position: right bottom;
}
/* line 2535, sass/style.scss */
#block-views-frontpage_banner-block_1 .views-slideshow-controls-top a#views_slideshow_singleframe_next_frontpage_banner-block_1 {
  background-position: left top;
  float: right;
}
/* line 2539, sass/style.scss */
#block-views-frontpage_banner-block_1 .views-slideshow-controls-top a#views_slideshow_singleframe_next_frontpage_banner-block_1:hover {
  background-position: left bottom;
}
/* line 2544, sass/style.scss */
#block-views-frontpage_banner-block_1 .views-slideshow-controls-top a#views_slideshow_singleframe_playpause_frontpage_banner-block_1 {
  display: none;
}
