/* Colors */
$main-menu-color: #333333;
$main-menu-hover-color: lighten($main-menu-color, 20%);
$main-link-color: #122D63;
$main-link-color-lighten: lighten($main-link-color, 10%);
$bg-color: #F9F9F9;
$footer-text-color: #0C285F;
$footer-bg-color: #EDEDF0;

/* Fonts */
$footer-text-size: 1em;
$footer-font-family: 'Lucida Grande','Verdana';
$footer-link-color: lighten($footer-text-color, 15%);