/* Compass import */
@import "compass/css3";
@import "style-variables";

/**
 * $Id$
 * perceptivity.eu
 *
 * @file style.css
 * style.css is the file to use when building your theme. 
 * Make a copy first as a backup.
 */
 

/**********************************************************
 *                    HTML & Body
 **********************************************************/
html {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
  color: #5f5f5f;
  font-family: Verdana, Geneva, "DejaVu Sans", sans-serif;
}

/* Admin menu */
body.admin-menu {
  /* background: #75add6 url(groundwork-images/background-body-admin.jpg) repeat-x fixed top center; */
}



body.admin-menu #container {
}

body.in-maintenance #main-content{
  background: #ffffff;
}

/**********************************************************
 *                 HTML Elements
 **********************************************************/
h1, h2, h3, h4 {
  font-weight: normal;
}

h1 {
  color: #000000;
  font-size: 2.167em;
}

h2 {
  color: #000000;
  margin-bottom: 0.2em;
}

h3 {

  &.oss {
    padding: 5px;
    margin-bottom: 20px;
    color: #e8f0f7;
    background: #F79031;
  }
}

h4 {
}

h5 {
}

h6 {
}

p {
}

strong {
}

em, dfn {
}

dfn {
}

sup, sub {
}

del {
}

ins {
}

blockquote {
  margin: 10px 40px;
  padding: 10px 35px 10px 45px;
  background: transparent url(groundwork-images/blockquote.png) no-repeat scroll 0 0;
  font-style: italic;
  font-size: 90%;
  text-align: justify;
}

cite {
}

q {
}

address {
}

ul {
}

ol {
}

li {
}

dl {
}

dd {
}

dt {
}

abbr {
}

acronym {
}

pre, code, tt {
}

p code {
}

samp {
}

kbd {
}

var {
}

/**********************************************************
 *                 Global Link Styles
 **********************************************************/
a {
  color: $main-link-color;
  text-decoration: none;
  font-weight: normal;

  &:link,
  &:visited {
    color: $main-link-color;
  }
  
  &:hover {
    color: $main-link-color-lighten;
  }

  &:focus {
      color: $main-link-color-lighten;
  }

  &:active {
    color: $main-link-color;
  }
}
/**********************************************************
 *                    Body Classes
 **********************************************************/
 /* NOTE: these are not active by default; you need to 
    enable them in the Advanced theme settings. */
/* Front or not front. */
.front {
}

.not-front {
}

/* Is the user logged in. */
.logged-in {
}

.not-logged-in {
}

/* Content type body classes. */
.node-type-book {
}

.node-type-blog {
}

.node-type-forum {
}

.node-type-page {
}

.node-type-poll {
}

.node-type-story {
}

	
/**********************************************************
 *                  The wrapper divs
 *    Be careful how you modify these, see base.css
 **********************************************************/
#top-elements,
#leaderboard-elements,
#header-elements,
#primary-menu-elements,
#menu-bar-elements,
#messages-help-elements,
#secondary-content-elements,
#container-elements,
#tertiary-content-elements,
#secondary-menu-elements,
#footer-elements,
#main-elements {
  clear: both;
}

#header-elements {
  background: transparent; 
}

#primary-menu-elements {
  background: #EDEDF0 url(../images/bg-main-menu.png) repeat-x 0 bottom;
  @include border-radius(0 0 10px 10px);
  height: 45px;
  
  li {
    display: inline;
    margin: 0 20px;
  }
  
}

#main-elements {
  /* background: url(groundwork-images/a17a16) transparent repeat-x top center; */
  min-height: 147px;
}

#container-elements {
  /*  background: url(groundwork-images/bubbles.png) transparent no-repeat bottom center; */
}

.oslo-fjords {
  background: url(groundwork-images/background-fjords.png) transparent repeat-x bottom center;
}

#container-top,
#container-leaderboard,
#container-header,
#container-primary-menu,
#container-menu-bar,
#container-messages-help,
#container-secondary-content,
#container,
#container-tertiary-content,
#container-secondary-menu,
#container-footer {
}

#container {

}

#container-primary-menu {

}

#container-tertiary-content {
  margin-top: 20px;
  padding-top: 10px;
  background-color: #F79031;

}

#top-bar {
  width: 160px;
  float: right;
  margin: 0;
  padding: 5px 5px 5px 0;
  border-left: #002f00 1px solid;
  border-right: #002f00 1px solid;
  border-bottom: #002f00 1px solid;
  border-top: none !important;
  background: #4DA449;
  color: #dfdfdf;
  min-height: 7px;
  min-width: 7px;
}

.logged-in #top-bar {
  width: 320px;
}

#top-bar .item-list ul {
  margin: 0 10px;
  white-space: nowrap;
}

#top-bar a {
}

#top-bar a:link,
#top-bar a:visited {
  color: #ffffff;
}

#top-bar a:hover {
  color: #00ff00;
}

#top-bar a:focus {
  color: #ffcc33;
}

#top-bar a:active,
#top-bar a.active {
  color: #999999;
}

#top-bar div.item-list ul li {
  float: left;
  margin: 0 8px;
  padding: 0;
  display: inline;
  list-style: none outside none;
  white-space: nowrap;
  background: #02A0C7;
}

#top-bar div.item-list ul li a {
  padding: 2px 4px;
  border: 1px solid #b8d3e5;
  display: block;
  white-space: nowrap;
  color: #eff3ff;
}

#top-bar div.item-list ul li a:hover {
  border: 1px solid #02A0C7;
  background: #ffffff;
  color: #02A0C7;
  text-decoration: none;
}

/* Column wrappers */
#columns {
  padding: 10px 0 0;
}

.columns-inner {
}

/* Content wrappers */
#content-column {
}

.content-inner {

}

/* Main content wrappers*/
#main-content {
  padding: 0 0 20px;
}

.front #main-content {
}

#content {
}

/* Footer wrappers. bottom has a 100% width. 
   footer-container has a 960px width in base.css. */
#footer-elements {
  background: transparent;
  min-height: 20px;
}

/**********************************************************
 *                       Regions
 **********************************************************/
 
/* Leaderboard is a region at the very top of the page. */
#leaderboard {
  padding: 10px 0;
}

/* Header region is embedded in the header, on the right side of the logo/site_name */
#header-region {
  float: right;
  clear: none !important;
  display: inline;
}

/* Highlight is embedded in the header, with the same width of the logo/sitename
 and positioned under them */
#highlight {
  width: 600px;
  margin: 10px 10px 10px 0;
  float: left;
  clear: none !important;
  display: inline;
}

/* Menu Bar sits below the header and is ideal for dynamic menus 
   such as http://drupal.org/project/superfish. */
#menu-bar {
  clear: both;
}

/* Secondary content is a full width region between the header and the
   main columns. */
#secondary-content {
  padding: 10px 0;
}

/* Tertiary content is a full width region above the footer, below the
   main content. */
#tertiary-content {
  padding: 0;
}

/* Content top and bottom are above and below the main content, within the main 
   content column. Content aside floats to the right within the main central
   column, but below content top. */
#content-top {
}

#content-aside {
  float: right;
  padding-left: 10px;
  width: 240px;
  background: #ffffff;
}

#content-bottom {
}

/**********************************************************
 *                 User Bar
 **********************************************************/
.gw-horizontal-login, .gw-horizontal-login form {
  padding: 0;
  margin: 0;
}

.gw-horizontal-login .form-item, .gw-horizontal-login .form-submit {
  float: left;
  padding: 0.1em 0.3em;
}

.gw-horizontal-login .form-submit {
  margin: 0.375em 0 0 0.7em;
  cursor: pointer;
}

.gw-horizontal-login .form-item {
  margin-bottom: 0;
  margin-top: 0.3em;
  white-space: nowrap;
}

.gw-horizontal-login .button-wrapper input {
  margin: 0.375em 0.3em 0;
}

.gw-horizontal-login label {
  float: left;
  margin-top: 0.4em;
}

.gw-horizontal-login label.overlabel-apply {
  float: none;
  margin-left: 0.375em;
  margin-top: 0;
  position: absolute;
  top: 0.5em;
}

#user-bar p.user-menu {
  float: left;
  padding: 0;
  margin: 0.7em 0 0;
}

#user-bar div.item-list ul {
  float: left;
  padding: 0;
  margin: 0.375em 0 0 0.7em;
}

#user-bar .gw-horizontal-login div.item-list ul {
  margin: 0.375em 0 0 0;
}

 
/**********************************************************
 *                      Sidebars
 **********************************************************/
/* Target both sidebars with this low specifity selector. */
.sidebar {
}

/* Target a specific sidebar. */
#sidebar-first {
}

#sidebar-last {
}

/**********************************************************
 *                   Skip navigation
 **********************************************************/
/**
 * DO NOT USE display:none as this hides it from screen readers!
 */
#skip-nav {
  float: left;
  width: 160px;
  text-align: left;
}

/* Override default pseudo class styles */
#skip-nav a:link {
}

#skip-nav a:visited {
}

#skip-nav a:hover {
}

#skip-nav a:focus {
}

#skip-nav a:active {
}

/**********************************************************
 *                 Header Elements
 **********************************************************/
/* #header wraps #branding, #search-box-top and #header-blocks. */
#header {
  clear: both;
  margin: 0;
  padding-top: 5px;
}

/* #branding wraps #logo, #site-name and #site-slogan. */
#branding {
  float: left;
  padding: 0 !important;
  clear: none !important;
  display: inline;
}

/* Logo and Site Name wrapper. */
.logo-site-name {
}

/* Logo and Site Name wrapper h1 - normally applies only the homepage. */
h1.logo-site-name {
  font-size: 1em;
}

/* Logo and Site Name wrapper DIV - normally applies to all internal pages,
   or where no title is set. */
div.logo-site-name {
}

/* DIV/strong combo when when title is set. */
div.logo-site-name strong {
}

/* By default the span is set to display:block, you can display:inline
   or float the elements to get them all on one line. */
.logo-site-name span {
  display: block;
}

/* Logo and Site Name SPAN wrappers. */
span#logo {
  float: left;
  margin: 10px 10px 10px 0;
}

span#site-name {
  margin: 0 10px 0 0;
  padding: 20px 0 0 0;
}

#site-name {
  font-size: 3em;
  font-weight: 700;
  line-height: 1.5;
}

/* Override default pseudo class styles. */
#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:focus,
#site-name a:active {
  color: #ffffff;
}

/* Site slogan. */
#site-slogan {
  margin-bottom: 20px;
  color: #000000;
  font-style: italic;
  font-weight: 700;
}

/**********************************************************
 *    Search box, Advanced search form, Search results
 *          For the search block see blocks.css
 **********************************************************/
/**
 * Search box
 */
/* Float the serch box right. */
#search-box {
}

/* Reset form element margins. */
#search-theme-form {
  float: right;
  margin: 0;
}

/* Wrapper DIVs */
#search-theme-form > div {
}

#search-theme-form #search {
}

#edit-search-theme-form-1-wrapper {
}

#search-theme-form label {
}

#search-theme-form input {
}

#search-theme-form .form-text {
}

#search-theme-form .form-submit {
}

/**
 * Advanced search form
 */
/* Advanced search-form id. */
#search-form {
}

/* Use the child selector because the inner div has no class. */
#search-form > div {
}

#search-form .container-inline {
}

#search-form #edit-keys-wrapper {
}

#search-form label {
}

#search-form input {
}

#search-form .form-item {
}

#search-form .form-submit {
}

/* Textfield styles. */
#search-form #edit-keys-wrapper input {
}

#search-form #edit-keys-wrapper input:hover,
#search-form #edit-keys-wrapper input:focus {
}

/* Advanced search fieldset. */
#search-form fieldset.search-advanced {
}

/**
 * Search results
 */
/* Box styles for the results page. */
.section-search .box {
}

.section-search .box-inner {
}

.section-search .box-title {
}

/* Style the no results messages. */
.section-search .box ul {
}

.section-search .box ul li {
}

/* Search results document list. */
dl.search-results {
}

dl.search-results dt {
}

dl.search-results dd {
}

dl.search-results dd p {
}

dl.search-results dd .search-snippet {
}

dl.search-results dd .search-info {
}

span.search-info-type {
}

span.search-info-user {
}

span.search-info-date {
}

span.search-info-comment {
}

span.search-info-upload {
}

/**********************************************************
 *               Primary & Secondary Links
 **********************************************************/
/* Primary-links div wrapper */
#primary {
  clear: both;
}

#primary-inner {
}

/* Class on the ul */
.primary-links {
  margin: 0; 
  padding: 12px 0 0;
  text-align: center;

  li {
    margin: 0 10px 0 0;
    padding: 0;
    display: inline;
    list-style: none;
    
    &.last {
      margin-right: 0;
    }
    
    a {
      white-space: nowrap;
      color: $main-menu-color;
      text-transform: uppercase;
      
      &:link,
      &:visited {
        color: $main-menu-color;
      }
      
      &:hover,
      &:active,
      &:focus {
        color: $main-menu-hover-color;
        text-decoration: none;
      }
    }
  }
}

/* Primary first and last classes. */
.primary-links li.first {
}

.primary-links li.last {
}

/* Active trail classes. */
.primary-links li.active {
}

.primary-links li.active-trail {
}

.primary-links li.active-trail a {
}

/* Secondary-links div wrapper */
#secondary {
  clear: both;
}

/* Class on the ul */
.secondary-links {
  margin: 0;
  padding: 0;
}

/* Modify the margin to set tab spacings. */
.secondary-links li {
  float: left;
  margin: 0;
  padding: 0;
  display: inline;
  list-style: none;
}

.secondary-links li a {
  padding: 0 0.5em;
  display: block;
  white-space: nowrap;
}

/* Set pseudo class styles. */
.secondary-links li a:link {
}

.secondary-links li a:visited {
}

.secondary-links li a:hover {
}

.secondary-links li a:focus {
}

.secondary-links li a:active {
}

/* Secondary first and last classes. */
.secondary-links li.first {
}

.secondary-links li.last {
}

/* Active trail classes. */
.secondary-links li.active {
}

.secondary-links li.active-trail {
}

.secondary-links li.active-trail a {
}

/**********************************************************
 *                      Breadcrumb
 **********************************************************/
#breadcrumb {
  padding: 0;
  margin: 0 0 10px;
  font: italic 0.833em Georgia, "Times New Roman", Times, serif;
}

#breadcrumb a {
}

#breadcrumb a:link {
}

#breadcrumb a:visited {
}

#breadcrumb a:hover {
}

#breadcrumb a:focus {
}

#breadcrumb a:active {
}

/**********************************************************
 *                       Mission
 **********************************************************/
#mission {
  margin: .3em 0 1.5em;
  font-weight: 700;
}

/**********************************************************
 *                    H1 Page Title
 **********************************************************/
h1#page-title {
  color: #000000;
}

/**********************************************************
 *                     Pager 
 **********************************************************/
/* The first 2 classes provide the base pager styles. */
ul.pager {
}

ul.pager li {
}

/* Theme the various states of pager links. */
ul.pager li a:link {
}

ul.pager li a:visited {
}

ul.pager li a:hover {
}

/* Note: .pager-current is for the current page. */
ul.pager li.pager-item {
}

ul.pager li.first {
}

ul.pager li.last {
}

ul.pager li.pager-current {
}

ul.pager li.pager-first {
}

ul.pager li.pager-previous {
}

ul.pager li.pager-next {
}

ul.pager li.pager-last {
}

/**********************************************************
 *               Footer, Footer Message
 **********************************************************/
#footer {
  padding: 20px 0;
}

#footer a {
}

#footer a:link,
#footer a:visited {
  //color: #ffffff;
}

#footer a:hover {
  //color: #00ff00;
}

#footer a:focus {
  //color: #ffcc33;
}

#footer a:active,
#footer a.active {
  //color: #999999;
}

#footer-region {
}

#footer-region a {
}

#footer-message {
  clear: both;
  font-size: 0.833em;
  text-align: center;
}

#footer-message a {
}

#attribution {
  clear: both;
  font-size: 0.833em;
  text-align: right;
}

/**********************************************************
 *                 RSS Feed Icon
 **********************************************************/
#feed-icons {
}

#feed-icons .feed-icon {
}

#feed-icons .feed-icon img {
  padding: 0 10px;
}

#feed-icons a.feed-icon {
}

/**********************************************************
 *                  Generic Content Classes
 **********************************************************/
.title {
}

.submitted {
  margin: .375em 0 0.75em;
  font-size: 0.8em;
}

.submitted em {
  font-style: normal;
}

.submitted a {
}

.content {
}

ul.links {
}

ul.links li {
}

ul.links li a {
}

/**********************************************************
 *                      Articles (nodes)
 **********************************************************/
.node {
  margin-bottom: 2em;
}

/* Teaser title (H2). */
.node-title {
  clear: both;
  padding-top: 10px;
  color: #333333;
}

.node-title a:link,
.node-title a:visited,
.node-title a:active {
  text-decoration: none;
}

.node-title a:hover,.node-title a:focus {
}

.node-title a:link,
.node-title a:visited {
}

.node-title a:hover,
.node-title a:focus,
.node-title a:active {
}

/* User Picture. */
.node .user-picture {
}

.node .user-picture img {
  float: left;
  padding: 0 10px 2px 0;
}

/* Submitted */
.node .submitted {
}

.node .submitted em {
}

.node .submitted a {
}

.node .submitted a:hover {
}

.node .submitted .author {
}

.node .submitted .time {
}

/* Common links classes. */
.node ul.links {
  font-size: 0.85em;
}

.node ul.links li {
  padding: 0 1em 0 0;
}

.node ul.links li a {
}

/* Taxonomy terms. */
/* Term list */
ul.taxonomy {
  margin: 0 0 1em;
  padding-top: 1em;
  clear: both;
}

ul.taxonomy li {
  display: inline;
  list-style: none;
}

ul.taxonomy li a {
}

/* With vocab headers */
ul.taxonomy li.vocab {
}

.vocab-name {
  font-size: 1em;
  font-weight: 700;
}

ul.vocab-list {
}

ul.vocab-list li {
}

ul.vocab-list li a {
}

/* Style module links. */
ul.links li.node_read_more a {
}

ul.links li.comment_add a {
}

ul.links li.comment_comments a {
}

ul.links li.comment_new_comments a {
}

ul.links li.blog_usernames_blog a {
}

ul.links li.print_html a {
}

ul.links li.print_email a {
}

ul.links li.print_pdf a {
}

/* UL link first and last classes. */
.node ul.links li.first {
}

.node ul.links li.last {
}

/* Workflow states. */
.node-add {
}

.node-edit {
}

.node-delete {
}

.node-preview {
}

.node-sticky {
}

.node-promoted {
}

/* Status. */
.node-unpublished .unpublished{
  font-size: 0.5em
}

/* Theme the teaser seperatly. */
.node-teaser {
}

/**********************************************************
 *                     Content types
 *              Style node types by type.
 **********************************************************/
.book-node {
}

.blog-node {
}

.forum-node {
}

.page-node {
}

.poll-node {
}

.story-node {
}

 /**
  * Custom Content Types
  * Replace CONTENT_TYPE with the content type
  * machine-readable name.
  */
.CONTENT_TYPE-node {
}

/**********************************************************
 *                    CCK Fields
 **********************************************************/
/* Wrapper for any CCK field. */
.field {
}

/* Use "datetime" when creating new CCK date fields. */
.field-type-datetime {
}

/* Filefield field. */
.field-type-filefield {
}

/* Node reference field. */
.field-type-nodereference {
}

/* User reference field. */
.field-type-userreference {
}

/* Number fields. */
.field-type-number-decimal {
}

.field-type-number-float {
}

.field-type-number-integer {
}

/* Text field. */
.field-type-text {
}

/**
 * Specific field names.
 */
/* Underscores in field name are replaced with dashes. */
.field-field-FIELDNAME {
}

.views-view-grid .field-featured-image {
  float: left;
  margin: 2px 7px 3px 0;
}

/**********************************************************
 *                     Comments
 **********************************************************/
/* Comment wrapper: wraps all comments and the comment form. */
#comments {
  clear: both;
}

#comments-title {
  background: #777777;
  color:#ffffff;
  margin-bottom:20px;
  padding:7px;
}

/* Wrapper class for each individual comment. */
.comment {
  border:1px solid #BDBDBD;
  margin:0 0 1.5em;
  padding: 7px;
  min-height: 100px;
}

/* Indentation */
.comment .indented {
  margin-left: 60px;
}

/* Comment Title (H3) */
.comment-title {
}

.comment-title a:link,
.comment-title a:visited,
.comment-title a:active {
  text-decoration: none;
}

.comment-title a:hover,
.comment-title a:focus {
  text-decoration: underline;
}

.comment-title a:link,
.comment-title a:visited {
}

.comment-title a:hover,
.comment-title a:focus,
.comment-title a:active {
}

/* Comment id (count with pound sign, see line 28 comment.tpl.php) 
   and comment "new" notification. */
.comment-id {
}

.comment-title .new {
}

/* User Picture */
.comment .user-picture {
}

.comment .user-picture img {
  float:left;
  padding:0 10px 0 0;
}

/* Submitted */
.comment .submitted {
}

.comment .submitted em {
}

.comment .submitted a {
}

.comment .submitted a:hover {
}

.comment .submitted .author {
}

.comment .submitted .time {
}

/* Links */
.comment ul.links {
  padding: 0 1em 0 0;
  display: block;
  text-align: right;
}

.comment ul.links li {
}

.comment ul.links li a {
}

/* Core comment link classes. */
ul.links li.comment_reply a {
}

ul.links li.comment_edit a {
}

ul.links li.comment_delete a {
}

/* UL link first and last classes. */
.comment ul.links li.first {
}

.comment ul.links li.last {
}

/* Author */
.comment-by-anonymous {
}

.comment-by-node-author {
}

.comment-by-viewer {
}

/* New */
.comment-new {
}

/* Zebra */
.comment.odd {
}

.comment.even {
}

/* Status */
.comment-unpublished {
}

/* Themes the "Unpublished" text. */
.comment-unpublished .unpublished {
}

/* Comment box wrapper on a seperate page. */
.section-comment .box {
}

.section-comment .box .box-title {
}

/* Comment box wrapper below content. */
#comments .box {
}

#comments .box .box-title {
  font-family: Georgia,"Times New Roman",Times,serif;
}

/* Sytle comments by node type. */
.book-comments {
}

.blog-comments {
}

.forum-comments {
}

.page-comments {
}

.poll-comments {
}

.story-comments {
}

/**********************************************************
 *                       Blocks
 **********************************************************/
/**
 * Styles set for .block, .block-inner, block-title and 
 * .block-content will be inherited by all blocks.
 */
.block {
  margin: 0 10px 10px;
  padding: 0;
  min-height: 15px;
  min-width: 15px;
  position: relative;
  z-index: 0;
}

#sidebar-last .block {
  margin-right: 0;
}

.white .block-inner {
  background: #ffffff;
}

.grey .block-inner {
  background: #bdbdbd;
}

.dark-grey .block-inner {
  background: #575757;
}

.light-grey .block-inner {
  background: #f0f0f0;
}

.green .block-inner {
  background: #4DA449;
}

.dark-green .block-inner {
  background: #426320;
}

.light-green .block-inner {
  background: #F1FFCF;
}

.dark-blue .block-inner {
  background: #214263;
}

.blue .block-inner {
  background: #02A0C7;
}

.light-blue .block-inner {
  background: #CBECF3;
}

.sky-blue .block-inner {
  background: #e8f0f7;
}

.dark-red .block-inner {
  background: #660000;
}

.red .block-inner {
}

.light-red .block-inner {
  background: #ecc5c5;
}

.brown .block-inner {
  background: #996632;
}

.dark-brown .block-inner {
  background: #634220;
}

.light-brown .block-inner {
  background: #ececc5;
}

.block-title {
  padding-left: 5px;
  margin-bottom: 5px;
  color: #000000;
}

/* Block Title font colors if block has light background */
.white h2.block-title,
.light-grey h2.block-title,
.light-blue h2.block-title,
.sky-blue h2.block-title,
.light-red h2.block-title,
.light-green h2.block-title,
.light-brown h2.block-title {
  color: #000000;
}

.white h2.block-title a:link,
.light-grey h2.block-title a:link,
.light-blue h2.block-title a:link,
.sky-blue h2.block-title a:link,
.light-red h2.block-title a:link,
.light-green h2.block-title a:link,
.light-brown h2.block-title a:link,
.white h2.block-title a:visited,
.light-grey h2.block-title a:visited,
.light-blue h2.block-title a:visited,
.sky-blue h2.block-title a:visited,
.light-red h2.block-title a:visited,
.light-green h2.block-title a:visited,
.light-brown h2.block-title a:visited {
  color: #666666;
}

.white h2.block-title a:hover,
.light-grey h2.block-title a:hover,
.light-blue h2.block-title a:hover,
.sky-blue h2.block-title a:hover,
.light-red h2.block-title a:hover,
.light-green h2.block-title a:hover,
.light-brown h2.block-title a:hover,
.white h2.block-title a:focus,
.light-grey h2.block-title a:focus,
.light-blue h2.block-title a:focus,
.sky-blue h2.block-title a:focus,
.light-red h2.block-title a:focus,
.light-green h2.block-title a:focus,
.light-brown h2.block-title a:focus,
.white h2.block-title a:active,
.light-grey h2.block-title a:active,
.light-blue h2.block-title a:active,
.sky-blue h2.block-title a:active,
.light-red h2.block-title a:active,
.light-green h2.block-title a:active,
.light-brown h2.block-title a:active,
.white h2.block-title a.active,
.light-grey h2.block-title a.active,
.light-blue h2.block-title a.active,
.sky-blue h2.block-title a.active,
.light-red h2.block-title a.active,
.light-green h2.block-title a.active,
.light-brown h2.block-title a.active {
  color: #333333;
  text-decoration: underline;
}

/* Block Title font colors if block has dark background */
.dark-grey h2.block-title,
.dark-blue h2.block-title,
.blue h2.block-title,
.dark-green h2.block-title,
.green h2.block-title,
.dark-red h2.block-title,
.red h2.block-title,
.dark-brown h2.block-title,
.brown h2.block-title {
  color: #efefef;
}

.dark-grey h2.block-title a:link,
.dark-blue h2.block-title a:link,
.blue h2.block-title a:link,
.dark-green h2.block-title a:link,
.green h2.block-title a:link,
.dark-red h2.block-title a:link,
.red h2.block-title a:link,
.dark-brown h2.block-title a:link,
.brown h2.block-title a:link,
.dark-grey h2.block-title a:visited,
.dark-blue h2.block-title a:visited,
.blue h2.block-title a:visited,
.dark-green h2.block-title a:visited,
.green h2.block-title a:visited,
.dark-red h2.block-title a:visited,
.red h2.block-title a:visited,
.dark-brown h2.block-title a:visited,
.brown h2.block-title a:visited {
  color: #ffffff;
}

.dark-grey h2.block-title a:hover,
.dark-blue h2.block-title a:hover,
.blue h2.block-title a:hover,
.dark-green h2.block-title a:hover,
.green h2.block-title a:hover,
.dark-red h2.block-title a:hover,
.red h2.block-title a:hover,
.dark-brown h2.block-title a:hover,
.brown h2.block-title a:hover,
.dark-grey h2.block-title a:focus,
.dark-blue h2.block-title a:focus,
.blue h2.block-title a:focus,
.dark-green h2.block-title a:focus,
.green h2.block-title a:focus,
.dark-red h2.block-title a:focus,
.red h2.block-title a:focus,
.dark-brown h2.block-title a:focus,
.brown h2.block-title a:focus,
.dark-grey h2.block-title a:active,
.dark-blue h2.block-title a:active,
.blue h2.block-title a:active,
.dark-green h2.block-title a:active,
.green h2.block-title a:active,
.dark-red h2.block-title a:active,
.red h2.block-title a:active,
.dark-brown h2.block-title a:active,
.brown h2.block-title a:active,
.dark-grey h2.block-title a.active,
.dark-blue h2.block-title a.active,
.blue h2.block-title a.active,
.dark-green h2.block-title a.active,
.green h2.block-title a.active,
.dark-red h2.block-title a.active,
.red h2.block-title a.active,
.dark-brown h2.block-title a.active,
.brown h2.block-title a.active {
  color: #cccccc;
  text-decoration: underline;
}

/* Block Content */
.block-content {
  
}

.block-content-no-rounded-corners .block-content {

}

.block-content .block-content-inner {
  padding: 7px;
  position: relative;
  z-index: 1;
}

.content-white .block-content {
  background: #ffffff;
}

.content-grey .block-content {
  background: #bdbdbd;
}

.content-dark-grey .block-content {
  background: #575757;
}

.content-light-grey .block-content {
  background: #f0f0f0;
}

.content-blue .block-content {
  background: #02A0C7;
}

.content-dark-blue .block-content {
  background: #214263;
}

.content-light-blue .block-content {
  background: #CBECF3;
}

.content-sky-blue .block-content {
  background: #e8f0f7;
}

.content-red .block-content {
  background: #F79031;
}

.content-dark-red .block-content {
  background: #660000;
}

.content-light-red .block-content {
  background: #ecc5c5;
}

.content-green .block-content {
  background: #4DA449;
}

.content-dark-green .block-content {
  background: #426320;
}

.content-light-green .block-content {
  background: #F1FFCF;
}

.content-brown .block-content {
  background: #996632;
}

.content-dark-brown .block-content {
  background: #634220;
}

.content-light-brown .block-content {
  background: #ececc5;
}

/* Block content font colors if block content has light background */
.content-white .block-content,
.content-light-grey .block-content,
.content-light-blue .block-content,
.content-sky-blue .block-content,
.content-light-red .block-content,
.content-light-green .block-content,
.content-light-brown .block-content {
  color: #000000;
}

.content-light-red .block-content a:link,
.content-light-green .block-content a:link,
.content-light-brown .block-content a:link,
.content-light-red .block-content a:visited,
.content-light-green .block-content a:visited,
.content-light-brown .block-content a:visited {
  color: #666666;
}

.content-white .block-content a:hover,
.content-light-grey .block-content a:hover,
.content-light-blue .block-content a:hover,
.content-sky-blue .block-content a:hover,
.content-light-red .block-content a:hover,
.content-light-green .block-content a:hover,
.content-light-brown .block-content a:hover,
.content-white .block-content a:focus,
.content-light-grey .block-content a:focus,
.content-light-blue .block-content a:focus,
.content-sky-blue .block-content a:focus,
.content-light-red .block-content a:focus,
.content-light-green .block-content a:focus,
.content-light-brown .block-content a:focus,
.content-white .block-content a:active,
.content-light-grey .block-content a:active,
.content-light-blue .block-content a:active,
.content-sky-blue .block-content a:active,
.content-light-red .block-content a:active,
.content-light-green .block-content a:active,
.content-light-brown .block-content a:active,
.content-white .block-content a.content-active,
.content-light-grey .block-content a.active,
.content-light-blue .block-content a.active,
.content-sky-blue .block-content a.active,
.content-light-red .block-content a.active,
.content-light-green .block-content a.active,
.content-light-brown .block-content a.active {
  color: #333333;
  text-decoration: underline;
}

/* Block Content Font Colors if block has dark background */
.content-dark-grey .block-content,
.content-dark-blue .block-content,
.content-blue .block-content,
.content-dark-green .block-content,
.content-green .block-content,
.content-dark-red .block-content,
.content-red .block-content,
.content-dark-brown .block-content,
.content-brown .block-content {
  color: #efefef;
}

.content-dark-grey .block-content a,
.content-dark-blue .block-content a,
.content-blue .block-content a,
.content-dark-green .block-content a,
.content-green .block-content a,
.content-dark-red .block-content a,
.content-red .block-content a,
.content-dark-brown .block-content a,
.content-brown .block-content a,
.content-dark-grey .block-content a:link,
.content-dark-blue .block-content a:link,
.content-blue .block-content a:link,
.content-dark-green .block-content a:link,
.content-green .block-content a:link,
.content-dark-red .block-content a:link,
.content-red .block-content a:link,
.content-dark-brown .block-content a:link,
.content-brown .block-content a:link,
.content-dark-grey .block-content a:visited,
.content-dark-blue .block-content a:visited,
.content-blue .block-content a:visited,
.content-dark-green .block-content a:visited,
.content-green .block-content a:visited,
.content-dark-red .block-content a:visited,
.content-red .block-content a:visited,
.content-dark-brown .block-content a:visited,
.content-brown .block-content a:visited {
  color: #ffffff;
}

.content-dark-grey .block-content a:hover,
.content-dark-blue .block-content a:hover,
.content-blue .block-content a:hover,
.content-dark-green .block-content a:hover,
.content-green .block-content a:hover,
.content-dark-red .block-content a:hover,
.content-red .block-content a:hover,
.content-dark-brown .block-content a:hover,
.content-brown .block-content a:hover {
  color: #ccffcc;
}

.content-dark-grey .block-content a:focus,
.content-dark-blue .block-content a:focus,
.content-blue .block-content a:focus,
.content-dark-green .block-content a:focus,
.content-green .block-content a:focus,
.content-dark-red .block-content a:focus,
.content-red .block-content a:focus,
.content-dark-brown .block-content a:focus,
.content-brown .block-content a:focus,
.content-dark-grey .block-content a:active,
.content-dark-blue .block-content a:active,
.content-blue .block-content a:active,
.content-dark-green .block-content a:active,
.content-green .block-content a:active,
.content-dark-red .block-content a:active,
.content-red .block-content a:active,
.content-dark-brown .block-content a:active,
.content-brown .block-content a:active,
.content-dark-grey .block-content a.active,
.content-dark-blue .block-content a.active,
.content-blue .block-content a.active,
.content-dark-green .block-content a.active,
.content-green .block-content a.active,
.content-dark-red .block-content a.active,
.content-red .block-content a.active,
.content-dark-brown .block-content a.active,
.content-brown .block-content a.active {
  color: #ffcccc;
}

.block-content h2 {
  padding-bottom: 1em;
}

/**********************************************************
 *                   Sidebar blocks
 **********************************************************/
/**
 * You can target blocks in one or more regions and 
 * style them differently. 
 */
 
/* Low specifity selector to style blocks in both sidebars. */
.sidebar .block {
  margin-bottom: 20px;
}

.sidebar .block h2 {
}

.sidebar .block-inner {
}

/* High specifity selectors to style blocks in one sidebar - be careful,
   these are powerful selectors! */
#sidebar-first .block {
}

#sidebar-first .block h2 {
}

#sidebar-first .block-inner {
}

#sidebar-last .block {
}

#sidebar-last .block h2 {
}

#sidebar-last .block-inner {
}

/**********************************************************
 *                  Region blocks
 **********************************************************/
/* High specifity selectors to style blocks in one region. */
#leaderboard       .block {
}

#header-region     .block {
}

#menu-bar          .block {
}

#secondary-content .block {
}

#tertiary-content  .block {
}

#content-top       .block {
}

#content           .block {
}

#content-bottom    .block {
}

#footer-region     .block {
}

/**********************************************************
 *                   Module blocks
 **********************************************************/
/**
 * Module Block ID's 
 * For contributed module blocks the pattern is the same,
 * i.e. #block-[module]-[delta]
 */
#block-book-0 {
}

#block-blog-0 {
}

#block-comment-0 {
}

#block-forum-0 {
}

#block-forum-1 {
}

#block-locale-0 {
}

#block-locale-0 ul {
  margin: 0 0 0 1.5em;
  padding: 0;
}

#block-locale-0 ul li {
  padding: .35em 0 0;
}

#block-node-0 {
}

#block-node-0 .feed-icon img {
  padding: 10px 0;
}

#block-poll-0 {
}

#block-profile-0 {
}

#block-search-0 {
}

#block-statistics-0 {
}

#block-system-0 {
}

#block-user-0 {
}

#block-user-1 {
}

#block-user-2 {
}

#block-user-3 {
}

/* Primary and Secondary links blocks */
#block-menu-primary-links {
}

#block-menu-secondary-links {
}

/* The class selector applies to all blocks of these types. */
.block-user {
}

 
.block-book {
}

 
.block-aggregator {
}

/**********************************************************
 *                 Specific blocks
 **********************************************************/
 
.featured-sessions .title {
  font-size: 1.5em;
}

.featured-sessions .picture {
  float: left;
  padding: 0 10px 0 0;
}

#block-block-1 p,
#block-block-5 p,
#block-block-11 p {
  margin-bottom: 0;
}

#block-views-attendees-block_1 td,
#block-views-attendees-block_1 th {
  border-bottom: none;
}

#block-views-attendees-block_1 table {
  width: auto;
}

#block-views-featured_sessions-block_1 {
  margin-bottom: 0;
}

#block-views-featured_sessions-block_1 .view-footer li {
  list-style: none outside none;
  text-align: right;
}

#user-login-form {
  margin: 0;
}

/**********************************************************
 *                 Search block form
 **********************************************************/
#search-block-form {
  margin: 0;
}

/* Wrapper DIVs. */
#search-block-form > div {
}

#search-block-form .container-inline{
}

#edit-search-block-form-1-wrapper {
}

#search-block-form label {
}

#search-block-form input {
}

#search-block-form .form-submit {
}

#search-block-form .form-text {
}

/* Override forms.css focus style */
#edit-search-block-form-1:hover,
#edit-search-block-form-1:focus {
}

/**********************************************************
 *                   Menu blocks
 **********************************************************/
/**
 * Prefix these with the block id to style one menu only.
 */
ul.menu,
ul.menu ul, 
ul.menu ul ul, 
ul.menu ul ul ul {
}

/* Menu li styles */
ul.menu li {
  margin: 0 0 0 0.5em;
}

ul.menu li.collapsed {
}

ul.menu li.expanded {
}

ul.menu li.leaf {
}

ul.menu li a:link,
ul.menu li a:visited {
}

ul.menu li a:hover {
}

ul.menu li a:active,
ul.menu li a.active {
}

ul.menu li a:focus {
}

ul.menu li.active a {
}

ul.menu li.active-trail a {
}

ul.menu li.first {
}

ul.menu li.last {
}

/**********************************************************
 *                   Block item-list
 **********************************************************/
.block .item-list ul {
  margin-left: 1em;
}

.block .item-list ul li {
  margin: 0;
}

/**********************************************************
 *                   Views list
 **********************************************************/
#main-content .view-content {
  
  div.odd, div.even {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
  }
  
  div.last {
    margin: 0;
    padding: 0;
    border-bottom: 0;
  }  
}

/**********************************************************
 *                 Groundwork Button Wrappers
 **********************************************************/
/**
 * Groundwork wraps input buttons with SPANs for
 * easy theming.
 */
 span.button-wrapper {
}

 span.button {
}

/**********************************************************
 *                       Tables
 **********************************************************/
/**
 * The selector groupings are from Garland which offers a
 * sensible starting point for styling Drupal tables.
 */
table {
}

caption, th, td {
}

caption, th {
}

table, td, th {
}

tbody, tfoot, thead, tr {
}

thead th {
  border-bottom: 0.1875em solid #d3e7f4;
}

td, th {
  border-bottom: 1px solid #d3e7f4;
}

tr.even, tr.odd, tbody th {
  border-color: #d3e7f4;
  border-style: solid;
  border-width: 1px 0;
}

tr.odd, tr.info {
  background: #edf5fa;
}

tr.even {
}

tr.drag {
}

tr.drag-previous {
}

tr.odd td.active {
}

tr.even td.active {
}

td.region,
td.module,
td.container td.category {
}

tr:first-child td.region,
tr:first-child td.module,
tr:first-child td.container {
}

fieldset {
  border: 1px solid #d9eaf5;
  background: url("groundwork-images/gradient-blue.png") repeat-x scroll 0 0 #ffffff;
}

/**********************************************************
 *                   Forum Tables
 **********************************************************/
#forum table {
}

#forum tr td.forum {
}

#forum tr td.forum .name {
}

#forum div.indent {
}

#book-navigation-4 {
  display: none;
}

.event-node .item {
  margin-bottom: 1em;
}

.no-margin {
  margin: 0;
}

.flag-message {
  background: #efefef;
}

img.float-right {
  clear: right;
  float: right;
  padding: 0 0 5px 10px;
}

img.float-left,
.profile .user-picture img.imagecache-user_image_large {
  clear: left;
  float: left;
  padding: 0 10px 5px 0;
}

.profile .fields {
  margin: 1em 0;
}

.profile tbody, .profile table, .profile tr, .profile td, .profile th{
  border-top: none;
  border-bottom: none;
}

.profile table {
  width: 400px;
}

.view-id-front {
}

.view-id-front h1 {
  clear: both;
  margin: 0;
  color: #000000;
}

ul.primary li a {
  background: #e8f0f7;
}

.forum .name a {
  font-weight: bold;
}

.field-presenter-pic a img {
  float: right;
  padding: 3px 0 2px 10px;
}

.field-presenter .item {
  font-weight: bold;
}

.view-id-front .views-view-grid td {
  width: 50%;
}

.view-id-front .views-view-grid tr.row-first h2.node-title {
  padding-top: 0;
}

.view-id-deltakerliste td {
  border-bottom: none;
  text-align: center;
}

#main-content .view-id-deltakerliste td {
  padding: 20px 0;
}

#block-views-deltakerliste-block_1 .view-id-deltakerliste td {
  width: 25%;
}

.center {
  text-align: center;
}

.small {
  font-size: 83%;
}

#footer-region #block-block-6 {
    margin: 0 10px 0 0;
    //width: 470px;
}

#footer-region #block-views-deltakerliste-block_1 {
    margin: 0 0 0 10px;
    //width: 470px;
}


 
/**********************
*        Footer
************************/
#footer {
	background: $footer-bg-color url('../images/bg-footer.png') repeat-x;
	@include border-radius( 10px 10px 0 0);
	@include footer-text;
		
	#footer-region {
	
		ul { 
		  list-style-type: none;
		  margin-left: 0px;
		  padding-left: 0px;  
		  }

		h2 { @include block-title; }

		li {
			border-bottom: 1px solid #CCCCCC;
      font-weight: normal;
      list-style-type: none;
      margin-bottom: 1em;
      padding-bottom: 1em;		
		}
  }

  #attribution { 
    text-align: center;
  }
}

/**********************************************************
 *                   Registration and Login Menu
 **********************************************************/
 
#block-menu-menu-register-login-menu {
  margin: 25px 0 0;
  
  ul {
    padding: 0;
    list-style: none;
  }
  
  li {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
    
    &.first a {
      width: 160px;
      height: 54px;
      background: transparent url(../images/btn-register.png) left top;
      overflow: hidden;
      text-indent: -999999%;
      display: block;
  
      &:hover {
       background-position: left -54px;
      }
    }  
    
    a.login, a.logout {
      width: 160px;
      height: 54px;
      background: transparent url(../images/btn-register.png) right top;
      overflow: hidden;
      text-indent: -999999%;
      display: block;

      &:hover {
        background-position: right -54px;
      }  
    }
    
    a.logout {
      background-position: right -108px;
      
      &:hover {
        background-position: right -162px;
      }
    }
  }
}

body.logged-in a.login { // Hide login button when logged in.
  display: none !important;
}


/* Custom registration block */
#block-block-20 {
  margin: 0;
  padding: 10px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  font-size: 1.2em;
  display: block;
  
  p {
    margin: 0;
  }
}

/************************************
*             Participants
*************************************/


#block-views-deltakerliste-block_1 {
  
  .block-content-inner {
    padding-left: 0px;
  }
  
   td {
     vertical-align: text-top;
     }
  
  .block-title {
    @include block-title;
    margin-bottom: -10px;
    width: 305px;
  }

  .value{
    color: #333333;
    font-size:  0.8em;
    padding-top: 5px;
  }
  .imagecache-user_image_avatar{
    border-style: outset;
    border-color: #FFF;
    border-width: 1px;
  }
  .more-link a, .more-link a:visited{
    color: #0C285F;
    font-size:  0.8em;    
    margin-right: -20px;
  }
}
/**********************************************************
 *                   Banner slideshow
 **********************************************************/
 
#block-views-frontpage_banner-block_1 {
  margin: 0;
  
  .block-content-inner {
    padding: 0;
  }
  
  img {
    border: 1px solid #D2D3D2;
  }
  
  .views-slideshow-controls-top {
    position: absolute;
    top: 160px;
    left: -45px;
    width: 1030px;
    
    a {
      background: transparent url(../images/slideshow-arrow.png) no-repeat right top;
      height: 36px;
      width: 25px;
      overflow: hidden;
      text-indent: -99999%;
      display: block;
      float: left;
      
      &:hover {
        background-position: right bottom;
      }
      
      &#views_slideshow_singleframe_next_frontpage_banner-block_1 {
        background-position: left top;
        float: right;
       
       &:hover {
         background-position: left bottom;
       }      
      }
      
      &#views_slideshow_singleframe_playpause_frontpage_banner-block_1 {
        display: none;
      }
    }
  }
}

/**********************************************************
 *                   Sponsor block
 **********************************************************/
.sponsor-block {
  border: 1px solid #CECECE;
  background: #D3D3D4 url(../images/bg-sponsor-platinum.png) no-repeat left top;
  padding: 10px 10px 0;
  
  .block-content-inner {
    padding: 0;
    
    div.sponsor {
      margin-bottom: 10px;
    }
  }
  
  .block-title {
    font-size: 0.9em;
    text-transform: uppercase;
    padding: 0;
  }
  
  &.sponsor-gold {
    background-color: #C1985F;
    border-color: #8F6138;
    background-image: url(../images/bg-sponsor-gold.png);
  }
  
  &.sponsor-silver {
    background-color: #E0E0E0;
    border-color: #B8B8B8;
    background-image: url(../images/bg-sponsor-silver.png);
    
    .odd, .even {
      float: left;
      margin-right: 8px;
    }
    
    .even {
      margin-right: 0;
    }
  }
}
